.headerlayout {
	background-color: transparent !important;
}

.footerlayout {
	color: silver;
	padding: 8px;
	margin: 0px;
	background-color: #28313d;
	font-size: 12px;
	position: absolute;
	bottom: 0px;
	width: 100%;
}

.main {
	padding-left: 8px;
	padding-right: 8px;
	font-size: 14px;
	color: rgb(96, 96, 96);
	overflow: auto;
  height: calc(100vh - 34px - 126px);
}

.banner {
	background: #fafafa;
  max-height: 56px;
	margin-bottom: 30px;
	padding: 12px 0;
}

.banner>* {
	max-width: 1200px;
	margin: 0 auto;
	font-size: 25px;
	display: block;
}

.menutitle {
  flex-basis: -moz-available;
  color: rgb(6, 147, 227);
}

.blocktext {
	max-width: 1200px;
	margin: 0 auto;
}

.blocktext786 {
  max-width: 786px;
  margin: 0 auto;
}

.darkmode-textcolor {
	color: #787878 !important;
}

.darkmode-textcolor:hover {
  color: rgb(36, 31, 49) !important;
}

.lightmode-textcolor {
  color: #787878 !important;
}

.lightmode-textcolor:hover {
  color: rgb(222, 221, 218) !important;
}	

.text-light {
	text-decoration: none;
}

.text-light#HOVER {
	color: rgb(6, 147, 227);
}

.leftimage {
	margin-right: 32px; 
}

.rightimage {
	margin-left: 32px;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.gray-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(128, 128, 128, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* Set the border color to the desired color */
.gray-toggler.navbar-toggler {
    border-color: silver;
}

.dropdown-menu {
  max-height: 480px;
  overflow-y: auto;
}

.darkmodebutton {
	border: 1px solid #4d4d4d;
  border-radius: 4px;
  background-color: #242424;
}

.help {
	text-align: right;
	font-size: small;
}

html {
	overflow-x: hidden;
}

body {
	font-family: Monserrat, sans-serif;
}

a {
	color: rgb(6, 147, 227);
}

h1 {
	font-size: 25px;
}

h2 {
	font-size: 22px;
}

h3 {
	font-size: 18px;
}

h4 {
	font-size: 16px;
}

h5 {
	font-size: 14px;
}