<h1 class="banner">
  <span>Anmeldung</span>
  <span class="help"><a href="anleitung.pdf">Anleitung zur Benutzung des Buchungsportals</a></span>
</h1>
<script type="text/javascript">
  template.reset_title('Anmeldung');
</script>
<div class="blocktext">
  <iframe src="https://www.onkelwernerfreizeiten.de/camporganizer" width="100%" height="1000">Anmeldeportal wird geladen...</iframe>
</div>