<h1 class="banner">
  <span>Freizeiten</span>
</h1>
<script type="text/javascript">
  template.reset_title('Freizeiten');
</script>
<div class="blocktext">
  <h1>Statt Langeweile zu Hause – Action auf einer Freizeit!</h1>
  <p>
    Ferien sind cool! Das steht auf jeden Fall fest. Doch wenn die Freunde alle im Urlaub sind und du alleine zu Hause bleibst,
    kommt schnell Langeweile auf. <strong>Warum also nicht einfach die Ferien mit vielen anderen Gleichaltrigen
      verbringen und jede Menge Spaß erleben?</strong> Genau dafür stehen <strong>Onkel Werner Freizeiten!</strong>
  </p>
  <h2>Das sind Onkel Werner Freizeiten</h2>
  <p>
    <strong>Onkel Werner Freizeiten sind immer ein Erlebnis der besonderen Art.</strong> Je nach Freizeit verbringst du entweder
    ein verlängertes Wochenende, eine Woche oder sogar zwei Wochen zusammen mit einer Hand voll Mitarbeitern und jeder Menge
    Kindern oder Teenies.
  </p>
  <p>Im Freizeitheim angekommen, wirst du erst einmal ordentlich begrüßt und beziehst zusammen mit deinen (neuen) Freunden
    dein Zimmer. Und dann kann die Freizeit auch schon starten. Hier erlebst du jede Menge Spaß, knüpfst neue Freundschaften,
    bekommst ein tolles Programm geboten, hörst spannende Geschichten aus der Bibel und noch viel mehr.</p>
  <p>
    <strong>Preise, Termine und weitere Infos findest du in unserem Buchungsportal.</strong>
  </p>
  <p>
    <a href="#top" onclick="template.reload_main('anmeldung.html')">Jetzt Freizeiten entdecken</a>
  </p>
  <h2>Kinderfreizeiten in Olfen</h2>
  <p>Jede Menge Kinder in deinem Alter, viele coole Spiele, Sommerrodeln und spannende biblische Geschichten…</p>
  <p>…das und noch viel mehr erwartet dich auf den Kinderfreizeiten in Olfen in den Oster- und Herbstferien. Olfen ist ein
    kleines Dorf in Hessen. Im großen Freizeitheim mit noch größerem Gelände drumherum erlebst du eine Woche voller Action,
    Zusammenhalt und Gottes Wort.</p>
  <p>Der Tag startet mit einer Stillen Zeit zusammen mit deiner Zimmergruppe und einem Mitarbeiter. Gemeinsam nehmt ihr
    Abschnitte aus der Bibel unter die Lupe.</p>
  <p>Nach dem Frühstück kannst du in der “Frohen Stunde” Lieder singen, eine spannende Geschichte aus der Bibel hören und
    Bibelverse lernen. Das kann dir in deinem Leben eine große Hilfe sein.</p>
  <p>Am Nachmittag gibt es immer etwas zu Erleben. Zum Beispiel bei Geländespielen, in verschiedenen AG’s oder Spielen im
    Dorf. Mit Sicherheit ist auch etwas Interessantes für dich dabei! Würdest du zum Beispiel verkleidete Mitarbeiter im Dorf
    direkt erkennen? Bist du bereit, dich den Aufgaben zu stellen?</p>
  <p>Am Abend erwarten dich Spiele- oder Themenabende, tolle Filme oder auch mal ein spannender Bericht von einem Missionar.
    Und ja, manchmal sind wir sogar nachts unterwegs…auf Nachtwanderungen oder bei aufregenden Geländespielen im Dunkeln.</p>
  <p>Ein besonderer Höhepunkt ist die Wanderung zur Sommerrodelbahn. Und natürlich das anschließende Rodeln! Wer traut sich,
    mit voller Geschwindigkeit zu fahren? Oder wer hat es lieber etwas langsamer und macht dabei ein entspanntes Gesicht auf dem
    Foto, das geschossen wird?</p>
  <p>Sei dabei und lerne neue Freunde kennen, die du bestimmt auch in der nächsten Freizeit wieder treffen wirst!</p>
  <h2>Jugendfreizeit Grow Up</h2>
  <p>Grow Up kann man mit ‚heranwachsen‘ übersetzen – und genau darum geht es auf dieser Freizeit! Möchtest du im Glauben
    heranwachsen, Gottes Wort begierig studieren und Gott noch tiefer erkennen? Dann bist du auf dieser Freizeit genau richtig!</p>
  <p>Auf der Grow Up möchten wir dir unter anderem folgende Möglichkeiten bieten:</p>
  <ul>
    <li>Selbstständiges Arbeiten mit deiner Bibel</li>
    <li>Austausch mit anderen Teilnehmern und Mitarbeitern</li>
    <li>Jede Menge Gedanken, um im Glauben zu wachsen</li>
  </ul>
  <p>Und natürlich Jugendliche und junge Erwachsene kennenzulernen, die das gleiche Anliegen haben wie du. Nämlich Jesus
    Christus immer ähnlicher zu werden und ein treuer Nachfolger zu sein.</p>
  <p>Den Tag startest du erstmal ganz alleine mit Gott, deiner Bibel und deinem Freizeit-Heft. Hier geht es um ein Bibelbuch
    oder biblisches Thema, das du anhand von Fragen tiefergehend studieren kannst.</p>
  <p>Nach dem Frühstück treffen wir uns in kleinen Gruppen. &nbsp;Hier kannst du dich über die Dinge austauschen, die du im
    Bibeltext gelernt hast. Welche Fragen sind bei dir aufgetaucht? Was verstehst du überhaupt nicht? Was ist dir besonders
    wichtig geworden? Und wie kannst du es im Alltag anwenden? Der Austausch bereichert dich durch Gedanken von Anderen, auf die
    du selber vielleicht gar nicht gekommen wärst.</p>
  <p>Am Nachmittag erwarten dich interessante Seminare zu relevanten Themen, Workshops, Geländespiele. Aber auch besondere
    Aktionen, wie ein Missionseinsatz oder ein stiller Nachmittag.</p>
  <p>Abends kannst du dich auf Vorträge freuen, die dich in deinem Glaubensleben herausfordern und zum Wachstum anspornen
    sollen. Oder wir verbringen gemütliche Zeiten am Lagerfeuer und führen interessante Gespräche bei einer Nachtwanderung. Denn
    neben der intensiver Beschäftigung mit Gottes Wort wirst du auf der Grow Up auch die Möglichkeit haben, intensive
    Freundschaften zu starten oder von Anderen zu lernen.</p>
  <p>
    Zwischen den Programmpunkten bleibt viel Zeit, um sich kennenzulernen, zusammen <em>Nacht in Palermo</em>, Volleyball oder <em>Capture
      the Flag </em>zu spielen oder auch ein Gespräch mit einem Mitarbeiter zu suchen, wenn dich etwas total beschäftigt oder du
    Hilfe und Rat brauchst.
  </p>
  <p>Du möchtest im Glauben herausgefordert werden, die Bibel und deinen Herrn besser kennenlernen und wirklich wachsen?
    Dann komm zur Grow Up und sei bereit, dich von Gott verändern zu lassen!</p>
  <h2>Teeniefreizeit Schweiz</h2>
  <p>Ab in die Berge – zwei Wochen Schweiz: mit Bergen, Seen, Kühen und allem, was das Herz begehrt. Mit Sicherheit wirst du
    dort eine ganze Menge erleben, denn das Programm ist vielfältig und voller Action!</p>
  <p>Du wirst in diesen zwei Wochen die Möglichkeit haben, spannende Bibelarbeiten und gute Gemeinschaft mit Gott zu
    erleben. Wir beginnen jeden Morgen in kleinen Gruppen mit gemeinsamer Stillen Zeit – das bedeutet, dass wir über
    verschiedene Bibelstellen nachdenken und uns über unsere Leben und die Erfahrungen, die wir mit Gott gemacht haben,
    austauschen.</p>
  <p>Nach dem Frühstück folgt die „Frohe Stunde“ mit einer Bibelarbeit. In dieser Zeit konzentrieren wir uns gemeinsam
    darauf, was uns verschiedene Mitarbeiter über Gott und die Bibel mitteilen werden. Es gibt viel zu lernen.</p>
  <p>In einer langen Mittagspause hast du Zeit für Fußball und Volleyball, Halli Galli oder andere Gesellschaftsspiele.</p>
  <p>Später am Nachmittag gibt es ein abwechslungsreiches Programm, beispielsweise Geländespiele vor Ort oder im Wald,
    Wasserspiele, Workshops und verschiedene AG's.</p>
  <p>Den Abend verbringen wir mit coolen kreativen Spielen wie z.B. einem Kochduell, Kiental sucht die Superband, Wetten
    Dass…?, und Die perfekte Minute. Oder aber wir sehen uns nach einem anstrengenden Tag ganz entspannt einen Film an und
    lassen den Abend mit angeregten Gesprächen ausklingen.</p>
  <p>Außerdem gibt es noch etwas ganz Besonderes: Unse Tagestouren! Die Mitarbeiter wecken dich bereits im frühen
    Morgengrauen und dann wird der Gipfel auf 2820 Metern Höhe gestürmt. Oder wir fahren an den wunderschönen Thunersee. Hier
    kannst du nicht nur Schwimmen, sondern auch aus zehn Metern Höhe ins Wasser springen, Beachvolleyball spielen und viele
    andere coole Dinge machen.</p>
  <p>Bist du bereit, auf eine Woche voller Spaß und Action? Bist du bereit, dich verändern zu lassen? Bist du neugierig
    geworden? Dann sehen wir uns in der Schweiz!</p>
  <h2>Heimfreizeit für Kinder in Heilbronn</h2>
  <p>Du hast noch zwei Wochen Sommerferien, wohnst in Heilbronn und hast noch nichts vor? Wie wäre es mit einem coolen und
    abwechslungsreichen Tagesprogramm zusammen mit vielen anderen Kindern in deinem Alter?</p>
  <p>Auf der Heimfreizeit hast du die Möglichkeit schon einmal ein bisschen hineinzuschnuppern, wie es sich anfühlt, auf
    einer Freizeit dabei zu sein. Denn du übernachtest zwar zu Hause, aber zwei Wochen lang verbringst du den Tag mit vielen
    anderen Kindern und Mitarbeitern bei einem tollen Programm.</p>
  <p>Wir starten mit Liedern und einer spannenden Geschichte aus der Bibel in den Tag. Natürlich gibt’s auch gemeinsames
    Mittagessen. Auch Zeit zum spielen gibt es genug. Zum Beispiel auf dem Spielplatz oder beim Völkerball auf dem Alten
    Friedhof. Nachmittags erwarten dich viele coole Aktionen. Wie wäre es zum Beispiel mit einer Schnitzeljagd? Oder einer
    kleinen Wanderung auf den Wartberg? Mit vielen tollen Spielen im Pfühlpark? Oder mit einer schönen Abkühlung und viel Spaß
    im Freibad?</p>
  <p>Nach einem kleinen Nachmittagssnack verabschieden wir uns bis zum nächsten Morgen.</p>
  <p>Besondere Höhepunkte sind ein Besuch im Indoor-Spielplatz oder der Experimenta. Manchmal lässt Axel (Erlebnispädagoge)
    sich auch etwas ganz Besonderes einfallen, wie zum Beispiel Flag-Football.</p>
  <p>Das klingt doch viel besser, als sich zu Hause zu langweilen, oder?</p>
  <h2>Teeniefreizeit Hohenhaslach</h2>
  <p>Eine Woche Herbstferien und das hast keine Lust, sie zu verschwenden oder alleine zu Hause zu sitzen? Wie wärs mit
    einer herausfordernden Woche zusammen mit anderen Jugendlichen in den schönen Weinbergen von Baden-Württemberg?</p>
  <p>Das Freizeitheim in Hohenhaslach liegt tatsächlich mitten in den Weinbergen, die natürlich im Herbst am schönsten
    aussehen. Hier lassen sich wunderbar Geländespiele oder Spaziergänge erleben.</p>
  <p>Aber nicht die schöne Landschaft allein macht die gute Atmosphäre aus. In dieser Woche hast du die Möglichkeit, Leute
    in deinem Alter kennenzulernen, die mit Jesus leben wollen und dir zu guten Freunden werden können. Außerdem kannst du durch
    tiefgehende Bibelarbeiten und Stille Zeiten mit deiner Zimmergruppe und einem Mitarbeiter auch Gott besser kennenlernen oder
    Fragen stellen, die du dir schon lange gestellt hast.</p>
  <p>Der Morgen ist gefüllt mit der Beschäftigung mit Gottes Wort, was es uns für unser Leben zu sagen hat und wie wir für
    Gott leben können. Du wirst herausgefordert, ganz persönlich darüber nachzudenken, wo du in Bezug auf Gott stehst und was du
    gerne ändern oder auch fördern möchtest. Durch das Lernen von wichtigen Bibelversen bekommst du einen guten Schutz, wenn du
    im Alltag mit Problemen zu kämpfen hast.</p>
  <p>Am Nachmittag bleibt viel Zeit für tolle Spiele, Herausforderungen beim Sport, Taktieren im Geländespiel oder Erkunden
    des Dorfes und der Weinberge.</p>
  <p>Abends erwarten dich Gameshows, ein Film oder auch mal ein gemütliches Dinner. Auch nachts sind die Weinberge nicht
    immer sicher vor uns, egal ob es sich um eine Nachtwanderung oder ein spannendes Nachtspiel handelt.</p>
  <p>Gemeinschaft und Spaß kommen auf jeden Fall nicht zu kurz und auch im Glauben bietet dir die Hohenhaslach-Freizeit
    Herausforderung, wenn du dazu bereit bist!</p>
  <p>
    <strong>Preise, Termine und weitere Infos findest du in unserem Buchungsportal.</strong>
  </p>
  <p>
    <a href="#top" onclick="template.reload_main('anmeldung.html')">Jetzt Freizeiten entdecken</a>
  </p>
</div>