<h1 class="banner">
  <span>Kontakt</span>
</h1>
<script type="text/javascript">
  template.reset_title('Kontakt');
</script>
<div class="blocktext">
  <p>
    <strong>Onkel Werner Freizeiten e.V.</strong><br>Holger Zimmermann<br>Friedhofstraße 5<br>74189 Weinsberg
  </p>
  <p>
    <strong>E-Mail:</strong>&nbsp;<a href="mailto:info@jungscharfreizeiten.de">info@jungscharfreizeiten.de</a>
  </p>
</div>