<h1 class="banner">
  <span>Verein</span>
</h1>
<script type="text/javascript">
  template.reset_title('Verein');
</script>
<div class="blocktext">
  <h2>Was ist der Onkel Werner Freizeiten Verein?</h2>
  <p>Der Verein „Onkel Werner Freizeiten e.V.“ ist ein christliches Kinder- und Jugendwerk.</p>
  <p>Seit unserer Gründung führen wir Ferienfreizeiten für Kinder und Jugendliche an verschiedenen Orten in Deutschland und
    der Schweiz durch. Diese ziehen jährlich bis zu 400 junge Menschen im Alter von 6 bis 17 Jahren aus ganz Deutschland an.</p>
  <p>Wir sind vom Finanzamt Heilbronn als gemeinnützig und mildtätig anerkannt. Unser Name leitet sich vom Gründer der
    Freizeitarbeit, Werner Blödtner, ab, der von vielen schlicht „Onkel Werner“ genannt wird.</p>
  <h2>Wie ist der Verein entstanden?</h2>
  <p>Unser Verein wurde offiziell im November 2013 gegründet, um dem sozialen Engagement für Kinder und Jugendliche in der
    christlichen Freizeitarbeit einen Rahmen zu geben.</p>
  <h3>Wie alles anfing</h3>
  <p>Doch unsere Geschichte beginnt eigentlich schon vor mehr als fünf Jahrzehnten mit einem jungen Mann, der seine Liebe zu
    Jesus Christus fand und diese teilen wollte. Werner Blödtner (später schlicht Onkel Werner genannt) hatte bereits zahlreiche
    Stunden in Sonntagsschule und Jungschar einer christlichen Gemeinde gestaltet, als er 1963 angefragt wird, eine mehrtägige
    Freizeit in den Schulferien durchzuführen. Er lässt sich auf das Abenteuer ein und übernimmt 1978 die überregionale Kinder-
    und Teeniearbeit der Barmer Zeltmission.</p>
  <h4>Die Bedingung</h4>
  <p>Allerdings nur unter folgender Vereinbarung mit Gott: Sollte sich kein Kind für den Herrn Jesus entscheiden, würde er
    mit der Arbeit wieder aufhören. Zu einer Kinderwoche im Odenwald an Ostern kommen ca. 100 Kinder aus dem Ort und umliegenden
    Dörfern. Onkel Werner selbst sagt: „Das war für mich eine große Herausforderung. Wie würde Gott antworten? Ich war sehr
    erstaunt, dass nach und nach fünf Kinder den Wunsch äußerten, den Herrn Jesus in ihr Herz und Leben einzuladen.“</p>
  <h4>Unterwegs für Jesus</h4>
  <p>Seither ist Onkel Werner also für Jesus Christus unterwegs. Neben den Kinderstundenwochen entwickelte sich nach und
    nach die Freizeitarbeit als Angebot in den Ferien der Kinder und Teenies.</p>
  <h3>Der Verein</h3>
  <p>Und unser Verein? Der ist eben aus genau diesen Kindern und Jugendlichen entstanden, die selbst Onkel Werners
    Freizeiten besucht haben und später dort Mitarbeiter geworden sind. Wir möchten, dass seine Arbeit weitergeführt wird. Aber
    vor allem wollen wir, dass noch viele Kinder und Jugendliche den Herrn Jesus kennen lernen können und mit ihm leben wollen.</p>
  <p>
    Vielleicht auch interessant: <a href="#top" onclick="template.reload_main('reports/history.html')">Über 30 Jahre Onkel Werner Freizeiten –
      Ein Rückblick bis zur Vereinsgründung und darüber hinaus</a>
  </p>
</div>