<img class="img-fluid rounded" src="images/start-banner-2019.jpg" alt=""><br />
<br />
<div class="blocktext">
  <h1 style="text-align: left">Ferien, die in Erinnerung bleiben – persönlich, echt, erlebnisreich</h1>
  <p style="text-align: left">Du willst nicht einfach deine Zeit totschlagen, sondern Ferien erleben, die dein Leben prägen,
    sinnvoll sind und dazu Spaß machen? Dann bist du hier genau richtig! Bei den Freizeiten geht es um Freundschaften, Spaß und
    vor allem Gottes Wort. Genau dafür stehen Onkel Werner Freizeiten!</p>
  <p></p>
  <h2 style="text-align: left">Unsere Freizeiten</h2>
  <h4 style="text-align: left">Erfahre hier, welche Freizeiten wir anbieten und was da so abgeht.</h4>
  <p style="text-align: left">Preise, Termine und weitere Infos findest du in unserem Buchungsportal.</p>
  <p style="text-align: left">
    <a href="#top" onclick="template.reload_main('anmeldung.html')">Jetzt Freizeiten entdecken</a>
  </p>
</div>
