<h1 class="banner">
  <span>GrowUp 2018</span>
</h1>
<script type="text/javascript">
	template.reset_title('GrowUp 2018');
</script>
<div class="center">
  <img src="images/growup5.jpg" class="img-fluid rounded" />
</div>
<div class="blocktext">
  <div class="right">
    <i class="far fa-clock"></i>&nbsp;2. September 2018
  </div>
  <p>Vom 24.03.2018 bis zum 31.03.2018 fand die zweite GrowUp-Freizeit mit 27 Teilnehmern im Alter von 14 bis 20 Jahren und
    8 Mitarbeitern in Olfen statt. Ein paar Eindrücke soll dieses Interview mit einigen Teilnehmern (Sophia, Sara, Janik, Samuel
    und Manuel) und einem Mitarbeiter (Richard) geben.</p>
  <p>&nbsp;</p>
  <h2>Wie hat ein Tag auf der Freizeit denn begonnen?</h2>
  <p>„Jeden Morgen nach dem Aufstehen gab es die Stille Zeit, in der jeder für sich den vorgegebenen Text durchlas, sich
    Gedanken darüber machte und Fragen dazu beantwortete. Außerdem gab es noch Erklärungen in dem Heft, um den Text besser zu
    verstehen. So begann der Morgen schon mit einer tollen Bibelarbeit, die auf den Tag und das Programm vorbereitete. Nach
    dieser alleinigen Bibelarbeit gab es ein sehr leckeres und ausgiebiges Frühstück und wir unterhielten uns über viele Themen.
    Bevor man in die Austauschgruppen ging, trafen sich alle im großen Raum, um gemeinsam viele Lieder zu singen. Wir sangen
    viele Lobpreis-Lieder und lernten auch Neues. Der Ohrwurm war garantiert.“</p>
  <p>&nbsp;</p>
  <h2>Der Bibeltext, der mit Hilfe des Heftes, welches von den Mitarbeitern geschrieben wurde, gelesen und bearbeitet
    wurde, war der Kolosserbrief.</h2>
  <p>„Der Apostel Paulus verfasste diesen Brief mit 4 Kapiteln und 95 Versen irgendwann zwischen 60 und 62 n.Chr. in einem
    römischen Gefängnis (Apg 28,16-31). Daher wird er als »Gefängnisbrief« bezeichnet (dazu gehören außerdem die Briefe an die
    Epheser, Philipper und an Philemon). Möglicherweise wurde er fast zeitgleich mit dem Epheserbrief verfasst und ursprünglich
    mit diesem und dem Philemonbrief zusammen durch Tychikus gesandt (Eph 6,21.22; Kol 4,7.8). Das Thema des Kolosserbriefs ist
    die Herrlichkeit Jesu, deshalb lautete das Motto der Freizeit auch „Christus allein“.</p>
  <p>Die Gefängnisbriefe drücken Paulus’ Hoffnung auf ein vorteilhaftes Urteil aus (Phil 1,25; 2,24; vgl. Phim 22). Die
    Abschnitte wurden nach Themen auf die einzelnen Tage aufgeteilt:</p>
  <ol>
    <li>Tag: Persönliches von Paulus – Dank und Fürbitte im Blick auf die Gemeinde ((Kol 1,1-14)</li>
    <li>Tag: Jesus im Fokus (Kol 1,15-2,3)</li>
    <li>Tag: Falsche Lehre und die christliche Antwort (Kol 2,4-15)</li>
    <li>Tag: Christus ist genug – Lebe in der Freiheit, die er dir geschenkt hat (Kol 2,16-23)</li>
    <li>Tag: Neu gekleidet! – Aber wie sieht das aus? (Kol 3,1-17)</li>
    <li>Tag: Zwischenmenschliche Beziehungen, wie sie dem Herrn gefallen (Kol 3,18-4,1)</li>
    <li>Tag: Anweisungen, Appelle und persönliche Mitteilungen (Kol 4,2-18)“</li>
  </ol>
  <p>&nbsp;</p>
  <h2>Und was wurde in den Austauschgruppen gemacht?</h2>
  <p>„Jeden Tag wurde der anstehende Abschnitt in drei Kleingruppen zu ca. 8-10 Teilnehmern behandelt. Anhand des
    Arbeitsbuches war es in der Stillen Zeit möglich, die entsprechenden Fragen selbst zu erarbeiten und in den jeweiligen
    Gruppen offene Fragen, Anmerkungen und Beiträge loszuwerden. Dies geschah interaktiv im Austausch, der teilweise sehr
    persönlich und ergreifend war. Dadurch, dass die Gruppen in etwa gleichmäßig nach Alter aufgeteilt wurden, entstand eine
    homogene Atmosphäre, in welcher man sich öffnen und freimütig zur Bibelarbeit beitragen konnte. Die Mitarbeiter arbeiteten
    im Vorfeld der Freizeit das Arbeitsbuch aus und tauschten sich auch hierin ausgiebig aus, sodass die verschiedenen
    Gedankengänge auch ihren Raum fanden.</p>
  <p>Da gewisse Grundkenntnisse bereits vorhanden waren, konnte man recht tief in die jeweiligen Themen einsteigen und
    überdies hinaus anhand des roten Fadens durch die Bibel die Absichten Gottes in Seinem Wort vertiefen. Abschließend können
    wir auf eine segensvolle und erfüllende Zeit in den entsprechenden Kleingruppen zurückblicken, die häufig viel zu schnell
    vergangen war und sowohl bei den Teilnehmern als auch bei den Mitarbeitern prägende Spuren hinterlassen hat!“</p>
  <p>&nbsp;</p>
  <p>„Die Austauschgruppen in der Freizeit waren mit Abstand das Beste. Man lernte die Gruppenmitglieder in einer Woche so
    gut kennen, dass man am liebsten noch ein paar Wochen miteinander verbracht hätte. Der Austausch war wirklich sehr
    tiefgehend und die Mitarbeiter konnten wirklich zu jedem Thema eine biblisch fundierte Meinung abgeben. Auch wenn ich schon
    einmal eine Bibelferienschule besucht hatte, gab es sehr viel Neues und Erbauendes zu lernen. Die Intensität, mit der für
    das Wort Gottes eingestanden und wie es weitergegeben wird, ist einfach unbeschreiblich. Wir sind Tag für Tag einen Teil des
    Kolosserbriefes durchgegangen und haben ihn bis auf seine Bestandteile auseinandergenommen, versucht zu verstehen und uns
    darüber ausgetauscht. Wäre kein Zeitlimit für die Austauschgruppen angelegt worden, hätten wir wahrscheinlich bis in den
    Nachmittag beisammengesessen.“</p>
  <p>&nbsp;</p>
  <h2>Danach gab es Mittagessen, wie hat das Essen denn geschmeckt?</h2>
  <p>„Vielen Dank auch an die Küche, die uns in dieser Zeit mit ihren Spezialitäten bekocht hat und immer noch einen kleinen
    Snack parat hatte, einmal haben wir sogar Raclette gegessen. Es gab jeden Tag etwas anderes zum Essen und doch waren alle
    zufrieden, denn es schmeckte allen (auch Simon, der immer im Essen herumstocherte, bis es kalt war) sehr gut.“</p>
  <p>&nbsp;</p>
  <h2>Was wurde dann nach dem Mittagessen gemacht?</h2>
  <p>„An zwei Nachmittagen hatten wir die Möglichkeit, unterschiedliche Seminare zu besuchen, die sich mit den Themen
    Geistesgaben, Bibelstudium, Israel und Andachten für die STEPS- App beschäftigten. Zu allen Seminaren hatten sich
    Mitarbeiter vorbereitet, welchen es auf sehr anschauliche Weise gelang, uns die Themen näherzubringen, sodass wir sehr viel
    mitnehmen konnten. Beim Seminar über die Geistesgaben haben wir bestimmte Bibeltexte (vor allem 1. Korinther 12) genau
    analysiert und uns darüber ausgetauscht. So wurde deutlich, dass die Geistesgaben geschenkte Fähigkeiten von Gott sind, die
    zu seiner Ehre und dem Aufbau sowie dem Wachstum der Gemeinde dienen sollen. Beim Thema Bibelstudium wurden konkrete
    Vorgehensweisen zur Bibelauslegung vorgestellt, die auch praktisch ausgeführt wurden. Durch solche Prinzipien kann man
    tiefer in den Sinn des Bibelabschnittes „eintauchen“ und Zusammenhänge herstellen. Das Seminar „Israel“ war auch sehr
    interessant, da uns zum einen die Geschichte Israels, als auch die jüdischen Feste und die aktuelle Situation dargelegt
    wurde. So wurde immer wieder deutlich, dass Gott zu seinem Volk steht und nicht zulässt, dass der Staat Israel von den
    Feinden eingenommen wird. So haben uns alle Seminare auch herausgefordert sich mit wichtigen Themen anhand der Bibel zu
    beschäftigen.“</p>
  <p>
    „An einem Nachmittag gab es ein besonderes Programm und zwar den „Nachmittag der Stille“. Er klingt nicht nur spektakulär,
    sondern <em>ist </em>auch spektakulär. Es handelt sich dabei um einen Nachmittag, bei dem niemand mit jemandem redet oder
    laut ist. Jeder ist für sich und denkt über seinen aktuellen Lebenstand nach, auch wie man gerade mit Jesus lebt bzw. wie
    man gerade im Glauben steht. Dieser Nachmittag hat vielen Kraft gegeben und auch vieles bewusst gemacht. So etwas ist sehr
    besonders, denn es fällt einem auch auf, wie wenig Stille Zeit man sonst in seinem Alltag hat und wie schön es sein kann,
    auch mal ganz ruhig zu werden.“
  </p>
  <p>„Außerdem gab es zwischen den ganzen anderen Aktivitäten auch viele Spiele. Nachmittags, in Form von Geländespielen und
    abends Kennlernspiele, Gruppenspiele, ein Nachtspiel und auch Nachtwanderungen. Die Geländespiele und das Nachtspiel
    brachten viel Spaß und waren gut dazu, sich einfach mal in den Dreck zu schmeißen, weil das Wetter kein Hindernis für uns
    war. Als Gruppenspiele gab es verschiedene Wettkämpfe, unter anderem auch Risiko, jedoch mit Aufgaben anstatt Würfeln. Das
    Ganze förderte die Gemeinschaft ungemein. Jeder verstand sich mit jedem und keiner war ausgeschlossen. Es gab auch einen
    freien Abend ohne festgelegtes Programm. An diesem genossen alle die Zeit, aber nicht alleine, sondern gemeinsam. Gute
    Gespräche und Spaß bei Karten- und anderen Gesellschaftsspielen, Kickern und Tischtennis. Allgemein lässt sich sagen, dass
    es Beschäftigung an jedem Abend gab und niemand allein oder auf sich gestellt war, sondern alle gemeinsam in guter
    Gemeinschaft Spaß hatten.“</p>
  <p>&nbsp;</p>
  <h2>Wie waren die Mitarbeiter denn so drauf?</h2>
  <p>„Die Mitarbeiter waren auch alle sehr cool und konnten einem weiterhelfen, wenn man wichtige Fragen hatte oder zusammen
    etwas spielen wollte. Auch für den ein oder anderen Spaß waren sie zu haben. Die Freizeitleitung war gut organisiert,
    deshalb hatte man nie das Gefühl, es sei einem langweilig, weil es immer wieder Angebote auch außerhalb des Programmes gab.
    Einen großen Dank an die Mitarbeiter dafür, dass sie sich die Zeit genommen haben, um uns das Wort Gottes näher zu bringen.“</p>
  <p>&nbsp;</p>
  <h2>Bestimmt gab es auch ein Abendprogramm, wie sah das aus?</h2>
  <p>„Jeden Abend nach dem Abendessen und der freien Zeit, die weitestgehend mit „Nacht in Palermo“-Spielen verbracht wurde,
    wurden noch einmal bestimmte Themen von den Mitarbeitern vorgestellt und erklärt. Dies geschah immer auf Grundlage von
    Bibeltexten, denn schließlich bildet sie auch das Fundament unseres Glaubens und unser Ziel ist es, sie immer besser
    kennenzulernen. Außerdem wurden wir so auch herausgefordert, das Gesagte anhand der Bibel zu prüfen und zu verstehen. Alle
    Themen waren sehr ansprechend und betrafen unseren Alltag und unseren Glauben an sich. So wurde vom weisen Umgang mit
    Medien, über das Thema Werke, die Kunstangriffe Satans sowie Engel und Dämonen gesprochen und ausgelegt, welche Sicht die
    Bibel vertritt. Die Vorträge blieben jedoch nicht nur theoretisch, sondern wurden durch praktische Tipps und Beispiele
    ergänzt. Sie haben außerdem dazu angeregt, das eigene Leben zu überdenken und zu hinterfragen, warum wir manche Dinge tun
    und was vielleicht verändert werden muss.“</p>
  <p>„Ein Abendvortrag hat es mir besonders angetan und dessen Inhalt kann man mit einem Wort beschreiben: Tetelestai. Es
    ist Vollbracht. Nach einem gemeinsam gefeierten Abendmahl hat Richie die Aspekte der „Vollbrachtheit“ im Erlösungswerk
    Christi weitergegeben. Dass Christus das Gesetz erfüllt und damit vollbracht hat. Dass Jesus den Teufel überwältigt und hier
    den Sieg vollbracht hat. Dass Christus uns Vergebung gebracht und somit das Erlösungswerk vollbracht hat. Dass er am Kreuz
    starb und die Prophezeiungen somit vollbracht hat und noch einige weitere Aspekte. Allein an diesem Abend konnte ich so viel
    mitnehmen, was ich bis heute in meinem Herzen bewege, dass es sich sogar nur für diesen Abend gelohnt hätte zu kommen. Aber
    die gesamte Freizeit zu besuchen, ist immer noch tausendmal besser. Ich freue mich schon aufs nächste Mal!“</p>
  <p>
    <em>Vielen Dank an die Teilnehmer des Interviews und auch nochmal an alle, die bei der Freizeit mitgeholfen haben!</em>
  </p>
</div>
