<h1 class="banner">
  <span>Freizeitbericht Grow-Up 2019</span>
</h1>
<script type="text/javascript">
	template.reset_title('Freizeitbericht Grow-Up 2019');
</script>
<div class="center">
  <img src="images/2019-3Herz.png" class="img-fluid rounded" />
</div>
<div class="blocktext">
  <div class="right">
    <i class="far fa-clock"></i>&nbsp;1. März 2020
  </div>
  <p>Oh, wie sehr vermisse ich die Grow-Up Freizeit! Nach drei Jahren ist die Grow-Up doch jedes Mal aufs Neue ein Fest. Wie
    in den letzten zwei Jahren war wieder fast die gleiche Mannschaft, von um die 30 jungen Christen, versammelt und jedes Jahr
    aufs Neue lernt man sich besser und inniger kennen, sodass es wirklich einem Trauerspiel gleicht, wieder gehen zu müssen.
    Das Thema der Freizeit ging mir persönlich wirklich sehr ans Herz und das ist nicht nur eine Redensart, nein, das war
    sprichwörtlich das Thema der Freizeit. Wir haben das Herz des Menschen und das Herz Gottes Tag für Tag, Lektion für Lektion
    im Buch des Propheten Jeremia betrachtet, indem wir jeden Tag nach dem Aufstehen eine Stunde für unsere eigene Stille Zeit
    hatten, in der wir das Grow-Up-Heft zur Hilfe hatten. Danach gab es zu Tisch eine schöne Möglichkeit zum Pflegen des Magens
    und der Gemeinschaft, indem wir frühstückten. Nach einer kleinen Pause ging es dann in, für meinen Geschmack, das absolute
    Schmuckstück der Freizeit: die Austauschgruppen, in denen wir uns über unsere Stille Zeit austauschten und uns gegenseitig
    ermuntern und kennenlernen durften.</p>
  <p>Sobald die Hälfte der Freizeit rum ist, verfliegt sie als würde einem die Zeit wegrennen. An jedem Abend ist ein
    interessanter Programmpunkt angesetzt. Entweder haben wir eine Andacht über ein interessantes Thema, einen Frageabend, in
    dem man wirklich ALLE Fragen anonym stellen kann, einen Cocktailabend oder einfach Spiele. Der letzte Abend der Freizeit,
    der die letzten Jahre immer auf Karfreitag fiel, ist aber jedes Mal aufs Neue ein ganz besonderes Erlebnis: Dieses mal
    hatten wir einen offenen Abend, an dem jeder der wollte einen Gedanken äußern durfte, der ihm wichtig wurde und wir hatten
    ein sehr schönes, aufbauendes Zusammensein. Nach gemeinsamem Abendmahl gingen wir auf der Anhöhe ans Lagerfeuer und einige
    haben berichtet, wie Gott in ihrem Leben gewirkt hat. Seien es erhörte Gebete oder die Berichte der eigenen Bekehrung.
    Insgesamt war es ein denkwürdiger und prägender Abend, der mir noch lange in guter Erinnerung bleiben wird. Es kommt einer
    Trennung gleich, sich samstags von allen verabschieden zu müssen und sich auf die Heimreise zu machen, aber auch alles Gute
    hat mal ein Ende und die Vorfreude auf die Grow-Up 2020 beginnt schon samstags mit dem Rückblick auf die vergangene, sehr
    schöne Freizeit. Ich für meinen Teil habe mir für nächstes Jahr in der 2.Woche etwas vorgenommen und zwar: im Glauben zu
    wachsen!</p>
  <p>
    <strong>Um auch andere Teilnehmer zu Wort kommen zu lassen, sind hier mal noch ein paar Statements:</strong>
  </p>
  <p>
    „Wenn du dich intensiv mit einem Bibeltext, sowohl alleine als auch in einer kleineren Gruppe, auseinandersetzen willst und
    auch bereit bist, dich in dieser Zeit formen und verändern zu lassen, dann bist du hier genau
    richtig!“&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<em>&nbsp; – Sophia</em>
  </p>
  <p>
    „Der Austausch in den Gruppen war wieder sehr gesegnet. Es ist einfach toll, wenn jeder seine eigenen Gedanken zu den
    einzelnen Texten und Fragen mit den anderen teilt und alle davon profitieren können. Auch die Themen selbst waren sehr
    gewinnbringend: Zum einen wurden wir oft herausgefordert, uns selbst zu prüfen, zum anderen durften wir aber auch immer
    wieder über die Gnade und Treue des Herrn staunen. Somit konnte gewiss jeder mit vielen neuen Erkenntnissen nach Hause
    fahren.“&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<em>&nbsp;&nbsp;
      – Sebastian</em>
  </p>
</div>