<h1 class="banner">
  <span>Freizeitbericht Grow-Up 2017</span>
</h1>
<script type="text/javascript">
	template.reset_title('Freizeitbericht Grow-Up 2017');
</script>
<div class="center">
  <img src="images/grow-up-2017.jpg" class="img-fluid rounded" />
</div>
<div class="blocktext">
  <div class="right">
    <i class="far fa-clock"></i>&nbsp;6. April 2017
  </div>
  <p>Ein imaginiertes aber natürlich trotzdem völlig repräsentatives Gespräch zwischen einem fiktiven Jugendlichen und der
    Mitarbeiter-Crew.</p>
  <p>&nbsp;</p>
  <p>
    <strong>Hey, ihr da. Warum strahlt ihr denn so?</strong>
  </p>
  <p>Trommelwirbel, Tataaaaaa – die erste GrowUp-Freizeit fand dieses Jahr statt. Und es war: Spitze!</p>
  <p>&nbsp;</p>
  <p>
    <strong>Aber, aber, liebe Mitarbeiter – was war denn so besonders an der Freizeit?</strong>
  </p>
  <p>Tja, wo sollen wir anfangen? Intensive Bibelarbeiten, lustige Spiele und viele tiefgehende Gespräche – so lässt sich
    die erste GrowUp Freizeit 2017 wohl am Besten zusammenfassen. Wer meint, er kennt das Konzept der Freizeit von anderen
    Onkel-Werner-Freizeiten, der täuscht sich. Auf der GrowUp ist alles anders – nur Onkel Werner, der durfte natürlich nicht
    fehlen.</p>
  <p>&nbsp;</p>
  <p>
    <strong>Wer darf da eigentlich hin?</strong>
  </p>
  <p>Zielgruppe der Freizeit sind Teens und junge Erwachsene, die sich für den christlichen Glauben interessieren und im
    Glauben weiterkommen wollen. Und tatsächlich haben sich rund 30 motivierte Jugendliche in der Woche vor Ostern im
    gemütlichen Freizeitheim in Olfen getroffen. Der Fokus der Freizeit lag dabei auf kleinen Austauschgruppen an den
    Vormittagen. Dort wird das, was jeder Teilnehmer in seiner persönlichen Stillen Zeit gelesen hat, besprochen – das ist
    wirklich eine besondere Zeit!</p>
  <p>&nbsp;</p>
  <p>
    <strong>Was ist denn so besonders an diesen Austauschgruppen?</strong>
  </p>
  <p>Nun, wir sind überzeugt: Wer selbst in der Bibel liest, wird feststellen, dass Gott ganz persönlich zu ihm spricht. Und
    wenn viele gleichzeitig in der Bibel lesen, werden viele gleichzeitig angesprochen – und das oft von unterschiedlichen
    Aspekten. Die man dann wieder mit anderen teilen kann und ermutigt wird durch den Austausch. In diesem Jahr ging es in den
    Austauschgruppen um die sieben Sendschreiben in der Offenbarung. (Wer sich jetzt fragt: „hä?“ – dem empfehlen wir die Grow
    Up Freizeit 2018 J ). Und was in diesen Briefen alles drin steckt, damit könnten wir Seiten füllen. Haben wir sogar, streng
    genommen; wir haben nämlich ein Freizeit-Stille-Zeit-Heft für alle Teilnehmer erstellt. Dort gabs Hintergrundinfos zu den
    Texten aus der Offenbarung und außerdem eine ganze Menge Fragen, die in den Austauschrunden als Gesprächsgrundlage gedient
    haben.</p>
  <p>&nbsp;</p>
  <p>
    <strong>Warum habt ihr die Freizeit „Grow Up“ genannt?</strong>
  </p>
  <p>Unser Motto war ein Vers aus Johannes 3,30: „Gott muss wachsen, ich aber muss abnehmen“, heißt es da. Mit Kilos hat das
    nichts zu tun, sondern damit, dass Gott in unserem Leben immer (ge-)wichtiger werden soll und wir ihn immer besser kennen
    lernen wollen. Dafür gab es an den Abenden eine Menge Vorträge zu Themen, die junge Christen oft beschäftigen: Heiligung,
    Grauzonen, Gottes Erziehungsmaßnahmen oder Taufe. Außerdem gab es Seminare zu spezielleren Themen wie dem Islam in
    Deutschland, Toleranz oder Heilsgewissheit und einen Workshop, in dem man Andachten schreiben üben konnte. An einem Mädels-
    und Jungsabend sowie einem großen Frageabend wurden zahllose Fragen zu Themen rund um Gott und die Welt diskutiert. Und weil
    wir überzeugt sind, dass auch andere Menschen von Jesus hören sollen, stand auch ein kleiner Missionseinsatz in Olfen auf
    dem Programm.</p>
  <p>&nbsp;</p>
  <p>
    <strong>Blieb dabei für Sport und Spiele überhaupt noch Zeit übrig?</strong>
  </p>
  <p>Natürlich! Zu dem Gelände gehört ein Volleyball- und ein Fußballfeld, das können wir ja nicht einfach so ungenutzt
    rumstehen lassen. Für besonders Motivierte gab es sogar einen Volleyball-Workshop. Auch Tischtennis, Tischkicker, Ulimate
    Frisbee und Capture the Flag haben wir bis zum Umfallen gespielt (von letzterem tragen wir jetzt noch den ein oder anderen
    blauen Flecken als Andenken mit uns herum). Ein Geländespiel, eine Nachtwanderung und ein Nachtspiel gehören auch zum festen
    Inventar einer solchen Freizeit.</p>
  <p>&nbsp;</p>
  <p>
    <strong>Das klingt nach einer intensiven Zeit.</strong>
  </p>
  <p>Stimmt J… Intensiv und richtig schön. Jeden Tag haben wir zusammen gesungen und in den freien Minuten wurden Karten-
    und Gruppenspiele eingebaut. Wir haben so viel &nbsp;„Nacht in Palermo“ gespielt, dass irgendwann sogar der Spielleiter
    mitten in der Nacht die Augen zugemacht hat, weil er nicht mehr wusste, wer er ist.</p>
  <p>&nbsp;</p>
  <p>
    <strong>Burger sind mein Lieblingsessen. Gabs die zufällig auch?</strong>
  </p>
  <p>Na klaro! Burger, Spagetti, Suppe, Auflauf, sogar Raclette haben wir gemacht. Das Essen war allererste Sahne, drei
    Mahlzeiten am Tag, die einem Sternekoch alle Ehre gemacht hätten. Und es gab eeeechte Nutella zum Frühstück!</p>
  <p>&nbsp;</p>
  <p>
    <strong>Mensch, so wie das klingt muss euch der Abschied von der Freizeit ja schwer gefallen sein.</strong>
  </p>
  <p>Das stimmt. Nach einer so schönen Woche zusammen vermissen wir die guten Gespräche und die Gruppe. Der Abschlussabend
    war nochmal besonders schön. Wir saßen ums Lagerfeuer herum und einige Teilnehmer haben erzählt, was sie in ihrem Leben mit
    Gott erfahren haben, das war sehr bewegend.</p>
  <p>Am Ende heißt es nach so einer Freizeit dann immer (zumindest für die Mädchen: tränenreich) Abschied nehmen. Aber
    immerhin, nächstes Jahr geht’s weiter – die Vorfreude ist auf jeden Fall riesig. Schon im März (24.3-31.3) findet die zweite
    GrowUp-Freizeit statt! Wir freuen uns mega!</p>
</div>