<h1 class="banner">
  <span>Heimfreizeit Heilbronn 2020</span>
</h1>
<script type="text/javascript">
	template.reset_title('Heimfreizeit Heilbronn 2020');
</script>
<div class="center">
  <img src="images/Heilbronn.png" class="img-fluid rounded">
</div>
<div class="blocktext786">
  <div class="right">
    <i class="far fa-clock"></i>&nbsp;1. Oktober 2020
  </div>
  <p>Gott schenkt auch in großen Krisen reichen Segen! Und so hielt uns auch in diesem Jahr die Corona-Krise nicht davon ab,
    die Heimfreizeit in Heilbronn durchzuführen. Zwar konnte nicht wie gewohnt zwei Wochen lang ein Tagesprogramm veranstaltet
    werden, aber dennoch konnten an fünf Nachmittagen Anfang September Kinder im Pfühlpark in Heilbronn zusammenkommen, um aus
    Gottes Wort zu hören und gemeinsam zu spielen und Spaß zu haben.</p>
  <p>Am frühen Nachmittag ging es los: Jeweils 20 bis 40 Kinder zwischen 5 und 14 Jahren sammelten sich auf drei langen
    Stoffbahnen, die die Mitarbeiter auf einer Wiese mitten im Pfühlpark ausgebreitet hatten. Nach der Begrüßung wurden einige
    Lieder zusammen gesungen – ganz „old school“ auf Pappen geschrieben! Danach erzählte ein Mitarbeiter eine biblische
    Geschichte, bei der an jedem Nachmittag auch das Evangelium weitergegeben werden konnte, und zeigte dazu Bilder. Es war eine
    ganz neue und besondere Erfahrung, Gottes Wort unter freiem Himmel vor einer Gruppe von Kindern zu erzählen. Doch der Herr
    hat viel Gelingen und Freude dabei geschenkt. Was für ein Privileg, dass wir in Deutschland frei von Ihm erzählen dürfen! Es
    war schön, dass viele Kinder aus verschiedenen Gemeinden im Umkreis da waren und auch einige Kinder aus Heilbronn und
    Umgebung, die auch in den letzten Jahren bei der Heimfreizeit dabei waren. Auch ein paar Erwachsene, die im Park spazieren
    gegangen sind, blieben stehen und sahen und hörten von weitem zu.</p>
  <p>Nach der biblischen Geschichte blieb noch Zeit für ein gemeinsames Programm. So wurde am ersten Nachmittag bei der
    Schnitzeljagd die erste Gruppe von der zweiten eingeholt, bevor sie es schaffte, ein Ei in einer Dose zum Kochen zu bringen.
    Am zweiten Tag wurden nicht nur die Kinder, sondern auch sämtliche Mitarbeiter (außer natürlich Onkel Werner) komplett nass
    durch gegnerische Wasserbomben und vollgesogene Schwämme. Am dritten Tag konnten alle sich so richtig auspowern beim Fangen
    und Völkerball. Bei verschiedenen Stationsspielen konnten die Kinder am vierten Tag ihre Fähigkeiten zum Beispiel im
    Dosenwerfen, Pantomime oder Seilspringen unter Beweis stellen. Und am letzten Tag fragten sich einige Kinder bereits vor
    Spielbeginn, was es denn wohl mit den vielen Bilderzetteln auf sich hatte, die im ganzen Park verteilt waren und zu unserer
    letzten Aktion – dem Doppelgängerspiel – gehörten.</p>
  <p>Insgesamt war es eine echt gesegnete Zeit! Wir sind dankbar für jedes Kind, das dabei war und hoffen, dass vor allem
    Gottes Wort ihre Herzen erreicht hat, aber sie auch praktisch Gottes Liebe erfahren durften, durch die Mitarbeiter, die sich
    Zeit für sie genommen haben. An jedem Tag durften wir erleben, wie der Herr uns wunderbares, sonniges Wetter geschenkt hat,
    obwohl es an einigen Tagen morgens noch eher kühl und bewölkt war. Auch wenn die Heimfreizeit nicht so stattfinden konnte
    wie gewohnt, sind wir doch von Herzen dankbar, dass wir ein Ersatzprogramm durchführen konnten, an dem viele Kinder gerne
    teilgenommen haben. Das bestätigt die Reaktion eines Mädchens am Ende des ersten Tages: „Was – wir sehen uns erst am Freitag
    wieder? Wieso können wir uns nicht jeden Tag treffen?“ Danke für alle Gebete. Wir haben sie deutlich gemerkt!</p>
</div>