<h1 class="banner">
  <span>Heimfreizeit in Heilbronn 2017</span>
</h1>
<script type="text/javascript">
	template.reset_title('Heimfreizeit in Heilbronn 2017');
</script>
<div class="center">
  <img src="images/heimfreizeit-2017.jpg" class="img-fluid rounded" />
</div>
<div class="blocktext">
  <div class="right">
    <i class="far fa-clock"></i>&nbsp;10. Oktober 2017
  </div>
  <p>Wir blicken dankbar auf die beiden Wochen zurück, die wir mit durchschnittlich 80 Kindern und 18 Mitarbeitern erleben
    durften. An zwei verschiedenen Tagen durften wir bis zu 100 Kindern zählen. Unter ihnen waren auch 11 Araber Kinder, 4
    Chinesen Kinder und 2 Kinder italienischer Abstammung. Das grenzt an ein Wunder und alle mussten darüber staunen. Gott hat
    die Tür für diese Arbeit weit aufgestoßen. Alljährlich hat die Anzahl der Teilnehmer stätig zugenommen. So müssen wir für
    das nächste Jahr mit weiterem Zuwachs rechnen. Mit der vorhandenen Räumlichkeit, sowie der Möglichkeit für so viele
    Teilnehmer das Mittagessen zu kochen, sind wir an die Grenzen gestoßen. Wir beten und überlegen schon Heute wie man das
    auffangen kann. Es ist eine besondere Gelegenheit Kindern die frohe Botschaft, Gottes Wort als ein Samenkorn in ihre Herzen
    zu pflanzen. Kinder sind dafür viel aufnahmefähiger als Erwachsene, weil sie noch nicht mit so viel Schmutz und Sünde
    beschmutzt sind. Bei Erwachsenen ist der Herzensboden meist schon mit viel Schuld und Vorurteilen fest gefahren. Herzlichen
    Dank an dieser Stelle nochmals für alles Beten, Mittragen, Organisieren und Mithelfen beim mehrfachen Umstellen der Stühle,
    Bänke und Tische, nicht zuletzt beim Helfen, Putzen und Reinigen des ganzen Hauses von oben bis unten. Besonderen Dank an
    die Hauseltern für alle Geduld bei so viel Trubel und Krach.</p>
  <p>&nbsp;</p>
  <p>Wir haben deutlich und mehrfach das Erhören eurer Gebete erlebt. Gott hat überall Bewahrung vor großem schaden und
    Unfall geschenkt. Bis auf eine kleine Ausnahme konnten wir bei schönem Wetter draußen spielen. Der alte Friedhof und der
    Pfühlpark waren sehr oft das Ziel unserer Aktivitäten. Schnitzeljagd mit Grillen, Aasgeierjagd, Klettern, Pfannkuchenspiel,
    Basteln, Gesellschaftsspiele, verschiedene AG´s, sowie Schwimmen … waren Ausschnitte unseres Programmes. Aus vielen
    Rückmeldungen von Eltern erfuhren wir, das es den Kindern Freude gemacht und ihnen gefallen hat. Soll diese Arbeit weiter
    gehen, werden zusätzlich noch viele Mitarbeiter gebraucht, wer kann sich vorstellen, dass er/sie, mit anpacken kann bei
    verschiedenen Aufgaben, evtl. auch Tage weise? Es wäre wirklich schade, wenn die von Gott weit geöffnete Tür nicht
    ausreichend genützt werden könnte. Zu allem und für alles wollen wir vermehrt Hände aufheben, um Weisung für weitere
    gesegnete Heimfreizeiten durchführen zu können.</p>
  <p>&nbsp;</p>
  <p>
    <strong>Hat der Herr Jesus nicht gesagt:</strong>
  </p>
  <blockquote>
    <p>Die Ernte zwar ist groß, die Arbeiter sind wenige. Bittet nun den Herrn der Ernte, dass er Arbeiter aussende in seine
      Ernte. Math. 9,37+ 38</p>
  </blockquote>
  <p>&nbsp;</p>
  <p>
    <strong>Oder auch:</strong>
  </p>
  <blockquote>
    <p>Hebt eure Augen auf und schaut die Felder an! Denn sie sind schon weiß zur Ernte! Johannes 4, 35</p>
  </blockquote>
  <p>&nbsp;</p>
  <p>Das möchte ich allen Geschwistern und Freunden dieser Arbeit zurufen und aufs Herz legen, damit noch viel Frucht
    entsteht solange es noch Tag ist.</p>
  <p>&nbsp;</p>
  <p>
    <strong>Ein Vater schreibt:</strong>
  </p>
  <blockquote>
    <p>Vielen Dank für euren unermüdlichen Einsatz, damit Kinder die frohe Botschaft von Jesus hören. So ist es möglich
      geworden, das wir bereits in 2 Generationen von dieser Arbeit profitieren. Möge Gott das reichlich belohnen und weiterhin
      diese Arbeit segnen!</p>
  </blockquote>
  <p>&nbsp;</p>
  <p>
    <strong>Werner Blödtner</strong>
  </p>
</div>
