<h1 class="banner">
  <span>Über 30 Jahre Onkel Werner Freizeiten – Ein Rückblick bis zur Vereinsgründung und darüber hinaus</span>
</h1>
<script type="text/javascript">
  template.reset_title('Über 30 Jahre...');
</script>
<div class="center"><img src="images/ueber-30-jahre-onkel-werner-freizeiten2.jpg" class="img-fluid rounded" ></div>
<div class="blocktext786">
  <div class="right">
    <i class="far fa-clock"></i>&nbsp;22. Februar 2014
  </div>
  <h2>Die Mitarbeiterin Rosa Grashof berichtet</h2>
  <p>
    <img src="images/rosi1-282x450.jpg" alt="rosi" width="282" height="450" align="left" class="leftimage" />Inzwischen ist es 25 Jahre her, dass ich den
    Freizeitleiter, Werner Blödtner (alias Onkel Werner), anschrieb mit der Bitte, als „Beobachterin“ an einer seiner
    Jungscharfreizeiten teilzunehmen.
  </p>
  <p>Der Grund dafür war, dass ich seinerzeit gebeten wurde, in der örtlichen Gemeinde als Jungscharleiterin tätig zu
    werden, und das, obwohl ich keine eigene Erfahrung auf diesem Gebiet hatte. Da meine eigenen Kinder sich auf einer „Onkel
    Werner Freizeit“ bekehrt hatten, wollte ich gern sein Konzept der Gestaltung von Freizeiten kennenlernen und viele Impulse
    für die Arbeit vor Ort daraus gewinnen.</p>
  <p>&nbsp;</p>
  <p>Bis dahin hatte ich wenig Vorstellung davon, wie man Kinder oder Teenies mit dem Evangelium so vertraut machen könnte,
    dass es für sie nicht nur verständlich sondern auch interessant und spannend sein würde.</p>
  <p>Bei meinen Kindern hatte ich es ja erlebt, wie begeistert und froh sie aus den Freizeiten nach Hause kamen und davon
    erzählten, dass sie den Herrn Jesus wieder ganz neu lieben gelernt hatten. Wie selbstverständlich berichteten sie auch ihren
    Freundinnen und Freunden davon, und wenn der Termin für die nächste Freizeit nahte, wollten die dann auch dabei sein.</p>
  <p>Schneller als gedacht wurde aus der Beobachterin eine Mitarbeiterin!</p>
  <p>&nbsp;</p>
  <p>In den neunziger Jahren nahmen jeden Herbst mindestens 80 Kinder und mehr an den Jungscharfreizeiten in Wiblingwerde
    teil. Wenn sie dem Jungscharalter entwachsen waren, machten sie lediglich ein Jahr lang Pause, um dann als Helfer das
    Freizeitteam zu unterstützen. Das ist bis heute so geblieben. Es ist eine Freude zu sehen, wie sich junge Menschen für die
    Arbeit unter Kindern und Jugendlichen begeistern können und auf diese Weise herausfinden, ob und wie GOTT sie in diesem
    Dienst einsetzen will.</p>
  <p>
    <img src="images/ow-311x450.jpg" alt="ow" width="311" height="450" align="right" class="rightimage" />Werner Blödtner legt großen Wert auf die klare
    Verkündigung der frohen Botschaft und stellt darum das Wort Gottes und das Gebet an die erste Stelle des Freizeitprogramms.
  </p>
  <p>Während die Mädchen und Jungen mit der Morgentoilette beschäftigt sind, treffen sich alle Mitarbeiter zum Gebet, um
    sich danach auf den Zimmern in kleineren Gruppen mit den Kids noch einmal über die Andacht des vergangenen Abends
    auszutauschen und wenn möglich auch dort eine Gebetsgemeinschaft zu haben.&nbsp; So werden die jungen Leute behutsam ans
    persönliche Bibellesen und Gebet herangeführt.</p>
  <p>Etliche von ihnen empfinden solche Freizeiten wie eine Tankstelle, um das eigene Glaubensleben neu anzufachen. Sie
    werden durch die Gemeinschaft mit Gleichgesinnten ermutigt, ihren Glauben und die Beziehung zu JESUS CHRISTUS auch im Alltag
    umzusetzen.</p>
  <p>Uns Mitarbeitern ist es wichtig, eine gute Beziehung zu den Freizeitteilnehmern aufzubauen, um den Kontakt auch später
    noch zu pflegen und ihnen, wenn gewünscht, noch lange mit Rat und Tat zur Seite zu stehen. Auch in diesem Punkt ist uns Herr
    Blödtner ein wichtiges Vorbild geworden.</p>
  <p>Über die Jahre hat sich immer wieder bewiesen, dass junge Menschen zuverlässige und feste Orientierungspunkte im
    persönlichen Reifeprozess brauchen. Was können wir ihnen da Besseres mit auf den Weg geben, als das Wort Gottes?!</p>
  <p style="text-align: left;">Sicher ist es so, dass ein buntes Zusatzprogramm ebenfalls nötig ist und wir viel Spaß bei
    Spiel und Sport haben. Doch können wir mit Gewissheit sagen, dass 85% derjenigen, die sich zum wiederholten Mal zu einer
    Freizeit anmelden, das gerade wegen den Bibelarbeiten tun!</p>
  <p>
    Um dieses starke Bedürfnis nach geistlicher Nahrung stillen zu helfen, wollten die Mitarbeiter, die teils über Jahrzehnte
    zusammen in dieser Freizeitarbeit stehen, den <em>„Onkel Werner Freizeiten Verein“</em> gründen. Es ist unser oberstes Ziel,
    jungen Menschen die frohe Botschaft zu verkünden, sie auf Ihrem Glaubensweg zu ermutigen und zu festigen und eine
    Anlaufstelle bei persönlichen Fragen und Problemen zu sein.
  </p>
  <p>Wir sind dem HERRN dankbar, dass wir diese Arbeit tun dürfen und ER über viele Jahre hinweg Seinen Segen dazu gegeben
    hat.</p>
  <p>Rosa Grashof</p>
  <p>&nbsp;</p>
  <h2>Die Vereinsgründung</h2>
  <p>
    <img src="images/ow-logo-200px.png" alt="ow-logo-200px" width="200" height="200" align="left" class="leftimage">Seit dem 27.11.2013 sind wir
    offiziell als <em>Onkel Werner Freizeiten e.V. </em>registriert. Doch schon davor wurde einiges an Vorarbeit geleistet.
  </p>
  <p>Bei unserem allererstem Treffen im Herbst 2012 stand zuerst einmal nur fest, dass wir, ein fester Stamm von rund 12
    Freizeitmitarbeitern, Werner Blödtner bei seiner Arbeit verantwortlich unterstützen und die Freizeiten, sollte er diese
    einmal nicht mehr durchführen können, fortführen wollen. Doch in welcher Form dies genau stattfinden sollte, stand noch
    nicht fest.</p>
  <p>
    Bald kristallisierte sich dann heraus, dass sich dies am Besten in Form eines Gemeinnützigen Vereins durchführen liese.
    Während der nächsten Treffen wurde unsere Vereinssatzung erstellt, Fragen zu finanziellen Dingen konnten geklärt werden und
    auch versicherungetechnische Baustellen durften wir mit Hilfe der <a title="CRG Reisen"
      href="http://www.christ-online.de/content/view/282/162/" target="_blank" rel="noopener"><em>CRG Reisen </em></a>schließen.
  </p>
  <p>
    <img src="images/DSC_0036kl-450x300.jpg" alt="DSC_0036kl" width="450" height="300">
  </p>
  <p>&nbsp;</p>
  <h2>Und darüber hinaus</h2>
  <p>Es liegt noch einiges an Arbeit vor uns. So wird zum Beispiel gerade ein kompletter Relaunch der Website durchgeführt,
    ein Forum für Mitarbeiter zur besseren Vorbereitung für die Freizeiten wird erstellt und allgemeine Informationsflyer sind
    in Planung.</p>
  <p>Doch vor allem bleibt unser „Tagesgeschäft“ nicht aus – die Vorbereitung auf die rund sieben Freizeiten pro Jahr und
    Kinderstunden, die an verschiedenen Orten durchgeführt werden.</p>
  <p>Wir würden uns sehr freuen, wenn ihr im Gebet unsere Arbeit unterstützt und mit uns verbunden bleibt.</p>
  <p>&nbsp;</p>
  <p>
    <img src="images/ma-450x300.jpg" alt="ma" width="450" height="300">
  </p>
</div>
