<h1 class="banner">
  <span>Freizeitbericht – Hohenhaslach 2019</span>
</h1>
<script type="text/javascript">
	template.reset_title('Freizeitbericht – Hohenhaslach 2019');
</script>
<div class="center">
  <img src="images/weinberge-deutschland-1024x683-1.png" class="img-fluid rounded" />
</div>
<div class="blocktext">
  <div class="right">
    <i class="far fa-clock"></i>&nbsp;28. September 2020
  </div>
  <p>Am Samstag, den 26.10.2019 begann die einwöchige Freizeit in dem kleinen, schönen Dorf Hohenhaslach. Als dann auch die
    meisten der 20 Teilnehmer angekommen waren, haben wir uns erstmal draußen hingesetzt und die 7 Mitarbeiter haben sich
    vorgestellt. Daraufhin gab es einige Zeit, um die Zimmer zu beziehen und sich gegenseitig kennenzulernen. Nach dem
    Abendessen gab es dann auch die offiziellen ,,Kennenlernspiele“ und die erste Andacht zum Thema ,,Golgatha verstehen“. Zum
    Abschluss des Tages gab es noch einen kleinen Snack und dann gingen alle, ausnahmsweise noch relativ früh, ins Bett.</p>
  <p>&nbsp;</p>
  <p>
    Am nächsten Tag wurden wir, wie jeden kommenden Morgen, vom fröhlichen Gesang der Mitarbeiter geweckt (oder auch von dem
    Getrampel auf den Treppen <img src="images/1f642.svg" width="16px"> ). Anschließend hatten wir immer Zeit, um uns
    fertig zu machen und dann gab es „Bibelfreude“ mit jeweils einem Mitarbeiter pro Zimmer. Dabei hat man in den verschiedenen
    Gruppen zum jeweiligen Tagesthema anhand eines Fragebogens einen Text in der Bibel erarbeitet. Im Anschluss gab es Frühstück
    von unserem super genialen Küchenteam.
  </p>
  <p>Nach dem Essen hatten wir noch ein wenig Freizeit und dann gab es die „Frohe Stunde“, eine Andacht zum gleichen Thema,
    welches auch morgens behandelt wurde. Anschließend hatte man Zeit falls gewünscht, über das Gelernte nachzudenken. Diese
    stille Zeit wurde mit einem gemeinsamen Gebet und Singen abgeschlossen. Relativ bald gab es dann schon Mittagessen. Im
    Anschluss hatten wir eine längere Mittagspause, in der wir uns entweder ausruhen oder miteinanderdraußen oder drinnen etwas
    unternehmen konnten. Langeweile gab es daher nie!</p>
  <p>Nachmittags gab es dann oft Dorf- oder Geländespiele auf dem umliegenden Gebiet. Wenn das Wetter es erlaubte,
    verbrachten wir die meiste Zeit draußen. Allerdings hatten wir auch bei schlechtem Wetter unseren Spaß. Dann haben wir
    Gesellschaftsspiele und selbst ausgedachte Spiele der Mitarbeiter gespielt.</p>
  <p>Abends gab es nach dem Essen meistens noch ein besonderes Tageshighlight wie z.B. einen Missionsabend, bei dem uns eine
    junge Frau von ihren Erfahrungen in den Niederlanden erzählt hat. Außerdem war auch die nächtliche Fackelwanderung durch die
    Weinberge sehr besonders, da wir dort die Gelegenheit hatten, viele interessante Gespräche zu führen. Allgemein war auf
    dieser Freizeit wieder eine gute Gemeinschaft, sowohl unter den Teilnehmern, als auch mit den Mitarbeitern.</p>
  <p>Sodass wir jeden Tag in guter Stimmung, genauso wie wir ihn mit Gottes Wort begonnen hatten, auch wieder abschließen
    konnten. In Form einer Andacht haben wir Hebräer Kapitel 11 erklärt bekommen. Allgemein in der ganzen Freizeit ging es um
    die Grundlagen des christlichen Glaubens, von den verschiedenen Themengebieten von ,,Was ist Glaube?“ bis hin zur Nachfolge.
    Dabei wurde uns insbesondere klar gemacht, wer wir als Menschen nach dem Sündenfall sind und wer Gott im Gegensatz dazu ist.
    Es wurde genauer erklärt, welchen Liebesbeweis Gott uns durch das einmalige Opfer Jesu gemacht hat und wie wichtig es ist,
    dieses Geschenk anzunehmen.</p>
  <p>Vor allem am Beispiel Abrahams wurde uns gezeigt, wie ein starker Glaube an Gott das Leben einesjeden Menschen
    bereichern kann und wie wichtig es ist, dass wir Gott vollkommen vertrauen und ihm unser Leben hingeben. Zusammenfassend
    lässt sich sagen, dass wir auf dieser Freizeit nicht nur viel gelernt haben, sondern auch eine wunderschöne Zeit hatten.</p>
  <p>&nbsp;</p>
  <p>Abschließend noch ein Zitat einer Teilnehmerin, kurz vor der Abreise: ,,Genau wie jedes bisherige Mal war diese
    Freizeit wirklich besonders. Vor allem die Möglichkeit sich mit anderen Christen austauschen zu können und einfach Zeit mit
    ihnen zu verbringen, war mega schön. Ich wünschte, die Freizeit würde länger als nur eine Woche gehen.“</p>
</div>