<h1 class="banner">
  <span>Hohenhaslach 2017</span>
</h1>
<script type="text/javascript">
	template.reset_title('Hohenhaslach 2017');
</script>
<div class="center">
  <img src="images/weinberg.jpg" class="img-fluid rounded" />
</div>
<div class="blocktext">
  <div class="right">
    <i class="far fa-clock"></i>&nbsp;24. März 2018
  </div>
  <p>Am 28.10.2017 war es endlich so weit, 12 Jungs und 17 Mädchen sowie 6 Mitarbeiter kamen mit vollgepackten Koffern und
    jeder Menge Vorfreude im christlichen Freizeitheim in Hohenhaslach an. Dann hieß es erstmal Zimmer beziehen, kennenlernen
    und die geltenden Regeln für diese Freizeit besprechen. Der Abend wurde mit einer kleinen Andacht abgeschlossen mit dem
    Thema die Waffenrüstung Gottes, von der jeden Abend dann ein Rüstungsteil näher behandelt wurde. Und so endete der erste Tag
    auch schon.</p>
  <p>&nbsp;</p>
  <p>Vom morgendlichen Singen der Mitarbeiter wurden alle aus dem Schlaf gerissen. Um 8 Uhr traf man sich dann in kleineren
    Gruppen mit je einem Mitarbeiter zur Bibelfreude. In meiner Gruppe befassten wir uns zum Beispiel einmal mit der Bergpredigt
    oder dem Thema Eifersucht. Direkt danach gab es ein reichliches Frühstück, bei dem für jeden etwas dabei war. Um 10.30 Uhr
    begann dann die Frohe Stunde.</p>
  <p>&nbsp;</p>
  <p>Die Frohe Stunde startete mit gemeinsamem Singen. Anschließend wurde der Bibelvers gelernt. Dieses Jahr allerdings
    nicht mehrere Bibelverse aus verschiedenen Büchern der Bibel , sondern ein fortlaufender Bibelvers und zwar Epheser 6,10-17,
    passend zum Thema der Abendandacht. Danach hörten wir eine Andacht zu dem Thema Jeremia – ein treuer Prophet unter einem
    untreuen Volk. Wir durften viel aus dem Leben von Jeremia lernen, zum Beispiel, dass wenn wir uns für ein Leben mit Gott
    entscheiden, dieses nicht unbedingt leicht ist, Gott uns aber nie verlässt, egal was passiert, weil er uns nicht aufgibt,
    auch wenn wir Fehler machen. Er hält das, was er verspricht und deshalb dürfen wir auch immer wieder aufs Neue zu ihm kommen
    und bei ihm Vergebung finden. . Nach der Andacht hatte man noch die Möglichkeit einen Zettel mit persönlichen Fragen zur
    Andacht für sich zu beantworten und über das Gehörte nachzudenken. Nach ca. 15 Minuten sangen wir zusammen noch ein paar
    Lieder und beteten gemeinsam. Auf die Frohe Stunde folgte das Mittagessen, an dieser Stelle ein Dankeschön an das
    Küchenteam, das uns die ganze Woche mit leckerem Essen verwöhnt hat.</p>
  <p>&nbsp;</p>
  <p>Das Nachmittags- und Abendprogramm wurden sehr vielseitig gestaltet. Ob Actionbound, das Nachtspiel, Stratego oder
    Mitarbeiter eliminieren, überall war Geschicklichkeit und großer Zusammenhalt gefordert. Zwei Highlights meiner Meinung nach
    waren der Dinner-Abend und das Nachtspiel. Das Nachtspiel war ein klassisches Schmuggelspiel, das in drei Gruppen gespielt
    wurde. Zwei Gruppen sollten Geld von ihrer Basis ins Ziel schmuggeln und konnten dabei von Polizisten abgeschlagen werden,
    die ihnen das Geld abnahmen und das wiederum zu ihrer Basis brachten. Das Ganze fand im Dunklen statt und als einzige
    Orientierung dienten Grablichter, die die verschiedenen Stationen markierten (allerdings gingen sie immer wieder aus :D).
    Eine weitere Schwierigkeit war, dass es zuvor geregnet hatte, sodass es ziemlich rutschig und schlammig war und so endete
    für viele der Tag mit einer mitternächtlichen Dusche.</p>
  <p>&nbsp;</p>
  <p>Der dreigängige Dinner-Abend im Kerzenschein war ein weiteres Highlight auf der Freizeit. Es gab nicht nur sehr
    leckeres Essen, sondern zwischen den Gängen wurden zwei Theaterstücke vorgespielt, eins von den Mitarbeitern und eins von
    den Teilnehmern. Die Schwierigkeit war, dass die Mitarbeiter den Teilnehmern und andersherum 5-10 Wörter vorgeben durften,
    welche dann im Theaterstück vorkommen mussten. Beide Gruppen machten ihre Sache sehr gut und ernteten einen großen Applaus.
  </p>
  <p>&nbsp;</p>
  <p>
    <strong>Abschließend noch ein Zitat eines anderen Teilnehmers:</strong>
  </p>
  <p>
    <em>„Die Freizeit war echt gelungen, vor allem die Gemeinschaft war einfach toll. Denn was ist eine Freizeit mit gutem
      Programm ohne das Zusammensein? Aber auch das Programm war gut, wir haben viele verschiedene Spiele gespielt und hatten
      viel Spaß miteinander, Langeweile gab es also nicht. Egal ob durch die Bibelfreuden, die Frohen Stunden oder die
      Abendandachten, irgendwo konnte denke ich jeder etwas Neues dazulernen und auch mit nach Hause nehmen. Gott hat diese
      Freizeit so gesegnet und ich freue mich schon auf das nächste Mal.“</em>
  </p>
  <p>&nbsp;</p>
  <p>Ein Bericht von Hanna, Teilnehmerin</p>
</div>
