<h1 class="banner">
  <span>Herbstfreizeit 2020 in Olfen</span>
</h1>
<script type="text/javascript">
	template.reset_title('Herbstfreizeit 2020 in Olfen');
</script>
<div class="center"><img src="images/freizeitheim-olfen.png" class="img-fluid rounded" /></div>
<div class="blocktext">
  <div class="right">
    <i class="far fa-clock"></i>&nbsp;8. Dezember 2020
  </div>
  <p>In diesem Jahr lief so manches anders…nicht wie geplant, aber dennoch sehr segensreich. Vom 24.-31.Oktober 2020 sollten
    eigentlich die Olfen- und Hohenhaslach-Freizeiten parallel stattfinden. Aufgrund der gestiegenen Corona-Zahlen und
    verschärften Maßnahmen musste Hohenhaslach jedoch kurzfristig abgesagt werden. Doch zu unserer Freude konnte die
    Olfenfreizeit trotzdem stattfinden! In einer neuen Konstellation, denn einige Teilnehmer hatten abgesagt, dafür konnten nun
    einige der Hohenhaslachteilnehmer doch noch dabei sein und auch ein Großteil der Mitarbeiter, die für Hohenhaslach
    eingeplant waren, fuhren mit nach Olfen. So durften wir also in die Woche mit 31 Teilnehmern und circa 15 Mitarbeitern
    starten.</p>
  <p>Schon zu Beginn wurde klar: Alles läuft ein bisschen anders! Die Eltern durften nicht mit ins Haus, aber dank
    tatkräftiger Mitarbeiter kam trotzdem jeder Koffer (und Teilnehmer) im richtigen Zimmer an. Beim Essen sowie bei den
    Bibelarbeiten saßen wir immer in den Zimmergruppen, denen jeweils ein oder zwei Mitarbeiter zugeteilt waren. Was anfangs
    wohl für alle ein bisschen ungewohnt war, wurde schnell zur Gewohnheit und hatte letztendlich den Vorteil, dass man sich als
    Zimmergruppe noch besser kennenlernen konnte. Abgesehen davon konnten wir uns aber trotzdem über das ganz normale
    Freizeitleben freuen und wurden richtig dankbar, als uns bewusst wurde, dass dies die einzige Woche war, in der die Freizeit
    stattfinden konnte. Sowohl in den Wochen davor als auch ab der Woche danach, wäre es nicht möglich gewesen und so staunten
    wir über dir Größe und Güte Gottes, der uns diese Zeit ermöglicht hat!</p>
  <p>In den Frohen Stunden beschäftigten wir uns mit den Wundern Jesu und staunten immer wieder neu über seine Größe, Macht
    und darüber, dass er uns nah sein möchte und sich um uns kümmert. Nahezu jeden Tag wurde den Kindern die rettende Botschaft
    -das Evangelium- weitergesagt und was ist es doch für ein wunderbares Geschenk, dass diese Rettung immer noch gilt! In den
    Abendandachten hörten wir zum Beispiel von der Henne Frau Weiß, von Jona, davon, ein Licht in einer dunklen Welt zu sein und
    von der Nächstenliebe, die wir auch ganz praktisch versuchten, auf der Freizeit auszuleben, indem jeder einen Zettel mit
    einem Namen zog und dieser Person etwas Kleines schenkte oder etwas Nettes schrieb.</p>
  <p>Die Wunder Jesu wurden auch bei einem Spieleabend mit einbezogen, bei dem es erstmal darum ging, eine Frage zu einem
    Wunder zu beantworten und dann ein passendes Spiel dazu zu spielen. Dank des meist trockenen Wetters konnten wir auch einige
    Spiele im Ort durchführen und stellten dabei fest, dass die Teilnehmer ausgezeichnete Detektive wären, denn sie schnappten
    an einem Tag einen fiesen, vernarbten Täter mit Monobraue und an einem anderen überführten sie den schwedischen Polizisten,
    der beinahe mit einem geklauten Gemälde davongekommen wäre. Auch für Überraschungen war gesorgt: Beim
    Capture-The-Flag-Spielen stürmte plötzlich ein schreiendes Wesen im Blätteranzug aus dem Wald, rannte und robbte übers
    Spielfeld und konnte schließlich als Mitarbeiter enttarnt werden.</p>
  <p>Zwei Highlights sollten noch besondere Erwähnung finden: Zum einen natürlich der Besuch bei der Sommerrodelbahn! Nicht
    nur das Rodeln selber machte Spaß, sondern auch die Wanderung hin und zurück war schön, da man sich gut unterhalten konnte
    und wir auf dem Rückweg einen wunderschönen Abendhimmel betrachten durften. Zum anderen konnten wir einen Missionsabend
    haben, bei dem ein Missionarsehepaar von ihrer Arbeit unter Volksstämmen in Brasilien berichtete, den Kindern das Anliegen
    der Mission wichtig machten und zwei echte Schlangen dabei hatte, die die Kinder streicheln und auf ihre Schultern legen
    durften.</p>
  <p>Und so verging die Woche wie im Flug und wir sind alle dankbar für die gesegnete, besondere Freizeit, die wir erleben
    durften!</p>
</div>
