<h1 class="banner">
  <span>Gott macht es gut!</span>
</h1>
<script type="text/javascript">
	template.reset_title('Gott macht es gut!');
</script>
<div class="center">
  <img src="images/gott-macht-es-gut3.jpg" class="img-fluid rounded" />
</div>
<div class="blocktext">
  <div class="right">
    <i class="far fa-clock"></i>&nbsp;9. Mai 2014
  </div>
  <h2>Gott macht es gut!</h2>
  <p>– so lautete nicht nur das Motto unserer Osterfreizeit in Olfen, sondern wir durften das auch ganz persönlich so
    erfahren! Jeden Tag konnten wir uns draußen austoben: Ob Fußball, Volleyball, Fangen spielen oder Rutschbahn fahren … die
    Sonne war auf unserer Seite!</p>
  <p>Die Geschichte von Josef und seinen Brüdern hat bei jedem, der dabei war, einen tiefen Eindruck hinterlassen. Onkel
    Werner sagt immer: „Wir wollen etwas für uns daraus gewinnen!“ – JA! Man kann wirklich staunen, wie praktisch das Wort
    Gottes in unser persönliches Leben hinein spricht und uns ermutigt, es im Alltag anzuwenden.</p>
  <p>Weil die einzelnen Szenen meist als Anspiel dargestellt wurden, hätten die Mädchen und Jungen gern noch länger
    zugeschaut und zugehört.</p>
  <p>Petra Danzeisen hatte wieder einmal ihre Verkleidungskisten dabei, sodass wir es uns beim Beduinenfest unter
    aufgespannten Tüchern gemütlich machen konnten und beim Zigeunerfest manch einen gar nicht mehr wieder erkannten! Es macht
    immer wieder neu Spaß, sich in die Rolle eines anderen zu versetzen.</p>
  <p>
    <img src="images/DSC_0057-450x300.jpg" alt="Beduinenfest" class="img-fluid rounded" width="450" height="300">
  </p>
  <p>&nbsp;</p>
  <p>Den Weg zur Sommerrodelbahn haben wir in diesem Jahr zu Fuß zurück gelegt. Es wurden 4 Gruppen gebildet, denen jeweils
    eine Wanderkarte, ein Kompass und ein Führer zugeteilt wurden. Der Führer hatte lediglich die Aufgabe, die Gruppe vor
    falschen Wegen zu warnen. Den richtigen Weg musste man selbst herausfinden. Zur Belohnung gab es am Ziel für Jeden 3
    Fahrkarten. Die Vorfreude auf das Rodeln hat uns unterwegs motiviert, nicht schlapp zu machen.</p>
  <p>
    <img src="images/DSC_0259-450x300.jpg" alt="Wanderung" class="img-fluid rounded" width="450" height="300">
  </p>
  <p>&nbsp;</p>
  <p>Neun Mädchen haben den HERRN JESUS angenommen und durften als fröhliche Gotteskinder nach Hause fahren. Das ist die
    allergrößte Freude.</p>
  <h4>Die Mitarbeiterin Laura berichtet:</h4>
  <p>
    <em>„Aus meiner Gruppe haben sich 4 Mädels für ein Leben mit Jesus entschieden! In unserer „Bibelfreude-Zeit“ hatte ich
      als persönliche Frage einfach mal in die Runde gefragt, wer von den 5 Mädels sich denn schon bewusst für Jesus entschieden
      hätte. Vanessa sagte dann, dass sie dies noch nicht getan habe. Dann, ich glaube nach dem&nbsp; Zeugnisabend ging es für 4
      der Mädels der Reihe nach zu Onkel Werner, wo sie ihr Leben Jesus übergaben.</em>
  </p>
  <p>
    <em>Jetzt im Nachhinein habe ich von Vanessas Schwester Evelina gehört, dass diese schon lange, und gerade auch während
      der Freizeit für sie gebetet hätte. Sie war total überwältigt, als sie von dieser Entscheidung erfuhr und Gott hat, wie
      auch schon so oft, seine Größe gezeigt durch die Macht des Gebets! Vanessa wäre total verändert nach Hause gekommen!“</em>
  </p>
  <p>&nbsp;</p>
  <p>Ich selbst war in diesem Jahr zum ersten Mal in Olfen. Es hat mir dort so gut gefallen, dass ich hoffe, auch ein
    anderes Mal dort wieder dabei zu sein!</p>
  <p>Alle, die das lesen, kann ich nur empfehlen, sich zur nächsten Freizeit anzumelden!</p>
  <p>&nbsp;</p>
  <p>Eure Rosi Grashof</p>
</div>