<h1 class="banner">
  <span>Osterfreizeit 2015 in Olfen</span>
</h1>
<script type="text/javascript">
	template.reset_title('Osterfreizeit 2015 in Olfen');
</script>
<div class="center">
  <img src="images/hands.jpg" class="img-fluid rounded" />
</div>
<div class="blocktext">
  <div class="right">
    <i class="far fa-clock"></i>&nbsp;8. Juni 2015
  </div>
  <p>
    Der Odenwald ruft – und wie!! Wieder wollten sie alle dabei sein! Mehr als es Betten oder Matratzen gibt – denn wem es
    wichtig ist, Freunde wiederzusehen und GOTTES Wort besser kennenzulernen, der verpasst einfach <em>keine</em>
    Onkel-Werner-Freizeit!<span id="more-124"></span>
  </p>
  <h2>Spannendes Freizeit-Thema</h2>
  <p>
    <strong>„An der Hand eines Starken zu geh’n, das ist schön, das macht stark!</strong>
  </p>
  <p>
    <strong>An der Hand uns’res GOTTES zu gehen‘ das gibt Mut und Sicherheit!“</strong>
  </p>
  <p>Zwar kannte der Prophet Elia dieses Lied nicht, aber er machte genau die gleiche Erfahrung! Wir durften staunen, wie
    mutig und ganz selbstverständlich er in den Palast des Königs ging, vorbei an den Wachen, um eine schreckliche Hungersnot
    anzukündigen! Es sollte so lange nicht mehr regnen, bis er es sagen würde! Und noch ehe der König irgendetwas antworten
    konnte, war Elia wieder verschwunden!</p>
  <p>GOTT gab dem Elia eigenartige Versprechen: Raben würden ihn mit Brot und Fleisch versorgen, während er sein Lager in
    der Einsamkeit an einem Bach aufschlug.</p>
  <p>Als der Bach kein Wasser mehr führte, sollte Elia sich an eine Witwe wenden, die selbst nichts hatte! Und als die
    tatsächlich bereit war, ihm den letzten selbstgebackenen Brotfladen zu geben, da wurde ihr Mehl im Topf nicht weniger und
    auch nicht das Öl in ihrem Krug. Durch dieses Wunder versorgte GOTT nicht nur den Elia, sondern auch die arme Witwe und
    ihren Jungen!</p>
  <p>Nach insgesamt 3 Jahren Hungersnot sollte Elia alle falschen Propheten auf dem Berg „Karmel“ versammeln. Insgesamt
    waren es 850 Mann!</p>
  <p>
    <strong>„Einer gegen alle“ – so sah es aus! </strong>
  </p>
  <p>Dann braucht man mehr als Mut! Ohne Vertrauen und festen Glauben geht man da unter! GOTT wollte seine Macht und seine
    Existenz beweisen. Er wollte Feuer vom Himmel fallen lassen, wenn Elia ihn darum bitten würde! Die falschen Propheten
    beteten stundenlang zu ihrem Gott – ohne jeden Erfolg. Aber Elia rief den Namen des lebendigen GOTTES an – und:</p>
  <p>Es fiel tatsächlich sofort Feuer vom Himmel! Was für ein eindrücklicher Beweis!! Ja! Wer sich auf die Seite des
    lebendigen GOTTES stellt, der kann sicher sein, dass GOTT auch ihm zur Seite steht!!</p>
  <p>Den Wunsch, es dem Elia gleich zu tun, hatten dann auch Einige der Teilnehmer. Das ist immer eine ganz besondere
    Freude! Darum wollen sie auf jeden Fall bei der nächsten Freizeit unbedingt wieder dabei sein.</p>
  <h2>Das haben wir erlebt</h2>
  <p>Nachmittags hatten wir ganz besondere Aktionen: Die Wanderung nach Kompass quer durch den Wald zur Sommerrodelbahn ist
    wirklich spannend; und zur Belohnung darf man gleich dreimal den Berg herunter rodeln.</p>
  <p>
    <img src="images/DSC_0111-450x300.jpg" class="img-fluid rounded" alt="DSC_0111" width="450" height="300">
  </p>
  <p>Zum ersten Mal ging es mit einer kleineren Gruppe zum Kletterwald. Da geht es ebenfalls um Mut und Vertrauen! Angeseilt
    und gesichert geht der Parcours durch etliche Baumkronen. Da ist es gut, wenn man keine Höhenangst kennt. Trotzdem ertönten
    nicht nur einmal Schreie der Angst, die man ja auch nicht so einfach abschütteln kann! Auf dem Weg zum Heim und auch beim
    Abendessen gab es noch viel von diesem Abenteuer zu erzählen!</p>
  <p>
    <img src="images/158-338x450.jpg" class="img-fluid rounded" alt="158" width="338" height="450">
  </p>
  <p>&nbsp;</p>
  <p>Fritz Danzeisen hatte wieder seine Bienen mitgebracht. Spannend erzählt er immer, wie ein Bienenvolk zusammen lebt und
    arbeitet – und zeigt die Honigwaben und lässt sogar die Drohnen (das sind die männlichen Bienen) auf unsere Finger klettern!
    Drohnen stechen nicht! – Hast du das gewusst? Aber wenn ich gerade mit anderen Teilnehmern bastle und mir jemand unverhofft
    eine Biene unter die Nase hält, bekomme ich natürlich erst einmal einen gehörigen Schreck!</p>
  <p>&nbsp;</p>
  <p>
    <img src="images/156-338x450.jpg" class="img-fluid rounded" alt="156" width="338" height="450">
  </p>
  <p>Fritz und seine Frau Petra bringen immer etliche Gläser Honig mit auf eine Freizeit. Der ist so lecker, dass nicht ein
    einziges Glas am Schluss übrig bleibt. Überhaupt gibt es auf Freizeiten immer etwas Besonderes aus der Küche! Schaut Euch
    mal die Fotos genauer an! Da werdet Ihr sehen, mit wie viel Liebe gerade aus der Küche die besten Überraschungen kommen!!</p>
  <p>
    <img src="images/188-450x338.jpg" class="img-fluid rounded" alt="188" width="450" height="338">
  </p>
  <p>Also: Schon wegen dem leckeren Essen und der tollen Tischgemeinschaft liebe ich immer wieder neu jede Freizeit!</p>
  <p>Wenn Du gern selbst etwas ergänzen möchtest: Ich lade Dich dazu ein und freue mich, wenn ich Dich das nächste Mal auf
    einer Freizeit wiedersehe!!</p>
  <p>Also bis zum nächsten Mal:</p>
  <p>Eure Rosi</p>
</div>