<h1 class="banner">
  <span>Die Osterfreizeit 2018 in Olfen</span>
</h1>
<script type="text/javascript">
	template.reset_title('Osterfreizeit 2018 in Olfen');
</script>
<div class="center">
  <img src="images/olfenfreizeit-ostern-18-5.jpg" class="img-fluid rounded" />
</div>
<div class="blocktext">
  <div class="right">
    <i class="far fa-clock"></i>&nbsp;2. September 2018
  </div>
  <p>Ohne Spaß! Die Olfenfreizeit fing dieses Mal am 1. April an. Gegen Nachmittag trudelten die&nbsp; Freizeitteilnehmer,
    Mitarbeiter und Küchenleute im Freizeitheim ein.</p>
  <p>Erstmal ankommen, auspacken und die Regeln kennenlernen- das Übliche eben.</p>
  <p>Mit insgesamt 63 Teilnehmern und 14 Mitarbeitern hatten wir ein volles Haus und volles Programm.</p>
  <p>&nbsp;</p>
  <h2>Das Freizeitthema</h2>
  <p>„Das Herz- ein Rebell“ war diesmal unser Thema, worum sich die Geschichten aus der Bibel drehten. Da hörten wir zum
    Beispiel von Adam und Eva und dem Südenfall, von Achan, der heimlich doch etwas Verbotenes nahm, von Nabot und Ahabs Neid
    wegen dessen Weinberg, und von Gehasi, welcher Naman dazu brachte, dass&nbsp; dieser das Geschenk der Heilung doch irgendwie
    bezahlte… Jedenfalls konnten wir einiges über unser Herz lernen und was da alles so drin ist.</p>
  <p>&nbsp;</p>
  <p>Neben den täglichen Bibelgeschichten am Morgen hatten wir auch drum herum eine Menge Spaß: Wettspiele, Sommerrodelbahn,
    Geländespiele und eine gute Gemeinschaft.</p>
  <p>&nbsp;</p>
  <p>Das schöne Wetter tat sein übriges zum Freizeit-Feeling- außer an einem Tag, wo unter anderem gerade die Reit- und
    Kletter-AG angeboten wurde. Da begann es in Strömen zu regnen. Für einige Teilnehmer fiel damit auch das Reiten buchstäblich
    ins Wasser.</p>
  <p>Im Kletterwald blieben Mitarbeiter und vor allem die Teilnehmer tapfer und „kämpften sich durch den Dschungel“ bis
    schließlich doch noch ein paar Sonnenstrahlen die Wetterwand durchbrachen. Und außerdem zog ein Gewitter an uns vorüber, das
    uns eigentlich hätte treffen müssen. Dafür ein ganz großer Dank an unseren Schöpfer, der alles zur seiner Zeit perfekt
    macht!</p>
  <p>&nbsp;</p>
  <p>Ebenfalls ganz großes Dankeschön an unsere Küche, die uns rund herum mit allem nötigen versorgt hat! Ihr seid wirkliche
    Schätze! Es war immer sehr lecker und wir sind alle satt geworden.</p>
  <p>&nbsp;</p>
  <p>Leider wurde Onkel Werner diese Freizeit krank und musste vorzeitig nach Hause fahren. Trotz der großen Gruppe, dem
    Trubel und dem zwischenzeitlichen Wettereinbruch konnten wir auch diesmal Segen erleben.</p>
  <p>&nbsp;</p>
  <p>Das Feedback einer Teilnehmerin hört sich folgendermaßen an:</p>
  <p>
    <em>„Ich fand cool, dass wir abends vor der Andacht Spiele gemacht haben und ich fand das Autospiel schön, Bibelfreude
      morgens und dann Frohe Stunde, alles wo man Gemeinschaft mit anderen hatte.“</em>
  </p>
  <p>&nbsp;</p>
  <p>Und eine Mitarbeiterin beschreibt die Freizeit so:</p>
  <p>
    <em>„Die Zeit mit euch und den Kindern war echt klasse […]. Ich denke, der Herr hat in dieser Woche viel bewirkt –
      hoffentlich auch vieles, was die Ewigkeit überdauern wird. Mir persönlich jedenfalls hat es wieder neu gezeigt, wie groß
      unsere Verantwortung gerade für die Kleinen von uns ist, denen Jesus die Arme besonders weit öffnet und uns anweist, in
      Sachen Glauben eine Scheibe von ihnen abzuschneiden … Auf alle Fälle freue ich mich, dass ich dabei sein konnte.“</em>
  </p>
  <p>&nbsp;</p>
  <p>Wir freuen uns auch auf DICH, der du gerade diesen Bericht gelesen hast- entweder als Teilnehmer oder als Mitarbeiter!</p>
  <p>So hast du ganz praktisch die Möglichkeit, Jesus und die beste Nachricht der Welt kennenzulernen! Oder eben an Gottes
    Reich mitzubauen, weiter zu lernen als aktiver Mitarbeiter und Segen weiterzugeben.</p>
  <p>&nbsp;</p>
  <p>Gott segne DICH!</p>
  <p>&nbsp;</p>
</div>
<!-- TODO: find a nive javascript plugin (jquery compatible) to use a gallery here -->
<img src="images/olfenfreizeit-ostern-18-1-300x200.jpg" class="leftimage img-fluid rounded" />
<img src="images/olfenfreizeit-ostern-18-2-300x200.jpg" class="leftimage img-fluid rounded" />
<img src="images/olfenfreizeit-ostern-18-3-300x200.jpg" class="leftimage img-fluid rounded" />
<img src="images/olfenfreizeit-ostern-18-4-300x200.jpg" class="leftimage img-fluid rounded" />
<img src="images/olfenfreizeit-ostern-18-5-1-300x200.jpg" class="img-fluid rounded" />
