<h1 class="banner">
  <span>Rehe die Zweite 2019 – Freizeitbericht</span>
</h1>
<script type="text/javascript">
	template.reset_title('Rehe die Zweite 2019');
</script>
<div class="center">
  <img src="images/vorbereitungstreffen2.jpg" class="img-fluid rounded" />
</div>
<div class="blocktext">
  <div class="right">
    <i class="far fa-clock"></i>&nbsp;15. April 2019
  </div>
  <h2>Ankunft in Rehe</h2>
  <p>Mit viel Regen und Wind begann die zweite Freizeit in Rehe. Nicht so nass wie der anhaltende Regenschauer, aber dafür
    noch stürmischer als der Wind, eroberten die 53 Teilnehmer das Freizeithaus Rehbachtal.</p>
  <p>Nachdem sich der erste Sturm der Freude auf das bevorstehende Wochenende gelegt hatte, mussten die Teilnehmer im Alter
    von 8 – 14 Jahren in den Regen hinaus, um sich das erste Schlemmermahl im Haupthaus zu gönnen. Doch eine Abkühlung bei den
    Teilnehmern vollbrachte der Regenguss nicht.</p>
  <p>Dies zeigte sich deutlich bei den Spielen am Abend: Mit voller Motivation, Freude und Einsatz versuchten sich die
    Gruppen gegenseitig zu schlagen oder einen Teilnehmer zu narren, indem dieser herausfinden musste, wer der Anführer der
    verrückten Gruppe ist.</p>
  <p>Doch dann geschah etwas Bemerkenswertes: Die Freizeitteilnehmer wurden ruhig und hörten gespannt zu, als „Onkel Werner“
    ihnen in der Abendandacht von Ahab erzählte, der aus Neid und Habgier den Weinberg von Nabot unbedingt haben wollte. Doch
    mit der Frage „Welche Gebote wurden bei der Aneignung des Weinberges durch Ahab gebrochen?“ war es mit der Ruhe vorbei.
    Hände schnellten in die Höhe, was mit einem wilden Schnipsen und Geräuschen zur Aufmerksamkeitssteigerung begleitet wurde.
    Nach einem abschließenden Gebet war es auch schon Zeit, um ins Bett zu gehen.</p>
  <p>Nicht nur draußen wurde es ruhig, da Regen und Wind ebenfalls einschliefen, auch im Haus kehrte Ruhe ein und die
    Mitarbeiter konnten sich auf eine entspannte Zeit während der Besprechung einstellen.</p>
  <h2>Einsatzbericht aus der Nacht</h2>
  <p>Gegen 1:15 Uhr musste der Spezialtrupp ausrücken. Einsatzort war der Flur der Jungen im Erdgeschoss. Der Vorfall
    stellte sich als eine Fehde zwischen drei befreundeten, revalierenden Zimmer da, welche meinten, sie müssten um diese
    Uhrzeit noch herumrennen. Durch die gute Ausbildung der Einsatztruppe und deren langjährigen Erfahrung konnte der
    Zwischenfall schnell geklärt werden und zudem eine langfristige Wirkung erwirkt werden, denn die restliche Nacht verhielt
    sich ruhig und keine weiteren Vorkommnisse sind zu vermelden.</p>
  <h2>„Guten Morgen dickes Schäfchen…“</h2>
  <p>Am Morgen wurden die Teilnehmer mit dem obligatorischen Lied geweckt, welches den Titel „Kleine dicke Schäfchen“ trägt.
    Mit dem Wort Schäfchen soll den Teilnehmern suggeriert werden, dass sie sich wie kleine brave Lämmchen über den Tag
    verhalten sollen. Über die Wirkung liegen derzeit, trotz einer Langzeitstudie, keine signifikanten Ergebnisse vor. Wir
    bleiben dran, Ergebnisse zu erzielen!</p>
  <p>Nach einem ausgiebigen Frühstück stand die erste „Frohe Stunde“ an. Holger durfte von einem außergewöhnlichen Ereignis
    berichten: Die Himmelfahrt von Elia. Er erklärte den Teilnehmern, was der hinterlassene Mantel des Elias, den nun Elisa,
    sein Nachfolger trug, für eine Bedeutung für dessen Dienst hatte. Als Bedeutung für uns, legte Holger aus, sei der Mantel
    und der Nutzen ein Bild für den Heiligen Geist, welcher uns gegeben wurde, als Jesus in den Himmel auffuhr. So wie der
    Heilige Geist Jesus begleitete und befähigte, wird der Heilige Geist auch uns als Jüngern helfen.</p>
  <h2>Freizeitprogramm</h2>
  <p>Nach dem anschließendem Mittagessen durften die Teilnehmer aus einem großen Angebot von AGs wählen. Zur Auswahl stand
    neben dem Basteln mit Blumentöpfen oder einem Vogelhaus auch die Möglichkeit zu schwimmen sowie ein Kicker- und
    Tischtennisturnier abzuhalten. Die Backkunst wurde auch bedient und so buken die Teilnehmer leckere Kastanien.</p>
  <p>Natürlich forderte so ein Nachmittag sämtliche Kräfte. Umso besser, dass wir wussten, wo es was Gutes zum Essen gab.
    Gestärkt und mit vollen Bäuchen ging es in das Abendprogramm. Bei Spielen rund um das Wort „Ball“ gaben die Teilnehmer
    alles, um für ihre Gruppe zu punkten. Anschließend durfte Fabian uns vom Wunder der Ölvermehrung erzählen. Um Wunder und das
    Wirken Gottes in unserem Leben zu erfahren, so Fabian, müssen wir, wie die Frau aus der Geschichte, auf Gott und sein Wort
    vertrauen.</p>
  <p>Als Präventionsmaßnahme für einen schnellen und guten Schlaf ging es nochmal hinaus auf eine ausgedehnte
    Nachtwanderung. Mit frischer Luft im Körper und müden Beinen ging es dann ins Bett. Und siehe da: Am nächsten Morgen waren
    die Teilnehmer nicht vor den Mitarbeitern wach. Aus diesem Grund wurden die Teilnehmer an diesem Morgen als „müde Schäfchen“
    geweckt.</p>
  <p>Nach dem Aufstehen durften die Teilnehmer mit viel Freude die Bibel lesen und sich nochmal Gedanken zum gestrigen Thema
    machen. Die erste geistliche Speise des Tages war aufgenommen, so war nun auch die leibliche dran.</p>
  <p>In der „Frohen Stunde“, der zweiten geistlichen Speise, erzählte Rosi in ihrer einzigartigen, schauspielerischen und
    packenden Art, wie Gott Naaman heilte, indem er sein Fleisch wie das eines jungen Menschens erneuerte. Sie zeigte den
    Teilnehmern auf, dass wenn wir unsere Schuld bekennen und uns reinigen lassen, er auch unser Herz erneuern wird, wie er dies
    bei Naaman tat. Am Fall von Gehasi verdeutlichte sie den Teilnehmern, dass er trotz einer langen Zeit im Dienst von Elisa
    keine Freude am Herrn gefunden hatte, sondern diese im Reichtum von Naaman suchte und deshalb unbedingt einen Teil davon
    haben wollte. Sie stellte die Teilnehmer vor die Frage, ob sie Freude am Herrn haben oder Freude in modernen Geräten,
    Unterhaltung oder im Lachen über andere suchen, womit diese gesuchte Freude dann keine sei, sondern nur ein kurzzeitiger und
    vergänglicher Spaß. Deshalb legte sie den Teilnehmern mit viel Liebe dar, ihre Freude in unserem Herrn zu suchen und nicht
    in weltlichen Dingen.</p>
  <h2>Vielen Dank Rosi</h2>
  <p>Dies war leider auch das letzte Mal, dass wir eine „Frohe Stunde“ von Rosi hören durften, da sie unsere Freizeiten,
    nach sehr vielen Jahren treuem Dienens, verlässt, da sie sich in Zukunft verstärkt auf ihre anderen Dienste fokussieren
    möchte. So dürfen wir an dieser Stelle „Danke“ sagen für die vielen Jahre deines Einsatzes und dir Gottes Segen wünschen,
    für den Dienst, den dir Gott für die Zukunft aufs Herz gelegt hat!</p>
  <p>Nach dem letzten Essen ging es ans Packen. Anschließend wurde noch ein Film geschaut, bei dem die Teilnehmer mit der
    Frage konfrontiert wurden, wie sie ihren Nächsten sehen und mit ihm umgehen sowie welche Rolle die Liebe spielt, wie die
    Bibel sie versteht.</p>
  <p>Anschließend kam es zum traurigsten Teil des zu kurzen Wochenendes: der Verabschiedung.</p>
  <p>
    <strong>Was bleibt? Schöne Erinnerungen, anregende Bibelarbeiten und die Vorfreude auf nächstes Jahr!</strong>
  </p>
</div>