<h1 class="banner">
  <span>Schweiz-Freizeit 2017</span>
</h1>
<script type="text/javascript">
	template.reset_title('Schweiz-Freizeit 2017');
</script>
<div class="center">
  <img src="images/schweiz-2017.jpg" class="img-fluid rounded" />
</div>
<div class="blocktext">
  <div class="right">
    <i class="far fa-clock"></i>&nbsp;2. September 2017
  </div>
  <p>
    <strong>Samstagmorgen</strong>, 29. Juli, die Reise beginnt. Insgesamt 27 Teilnehmer, Jungen und Mädchen zwischen 13 und 17
    Jahren, machen sich in Gruppen mit Autos auf den Weg ins Kiental in der Schweiz. Wenn auch etwas später als geplant, kommen
    alle Mitarbeiter und Teilnehmer gut an. Nachdem die Autos ausgeladen worden waren, ging es erstmal auf die Zimmer. Später
    wurde gegessen, dann gab es die ersten Spiele zum Kennenlernen. Abends wurde dann das Thema der Freizeit, das Buch Nehemia,
    vorgestellt und so ging der erste Tag auch schon zu Ende.
  </p>
  <p>
    <strong>Cool</strong> waren vor allem die Wanderungen, die erste ging an einem großen Wasserfall entlang. Hier konnten wir
    alle erfahren, wie sehr wir von Gott behütet werden. Als wir oben gerade bei einer Hütte angekommen waren, fing es plötzlich
    an extrem stark zu regnen und zu hageln. Wir konnten uns alle unterstellen und waren so in Sicherheit. Nach der Wanderung
    waren wir dann noch in Adelboden, dort gab es aufgrund des Schweizer Nationaltages Musik, einen Umzug und zum Schluss noch
    ein beeindruckendes Feuerwerk. Auch die zweite Wanderung, entweder direkt zum Oeschinensee oder zuerst auf die
    Blüemlisalphütte, auf der man als Belohnung leckere heiße Schokolade bekam, verlief gut und niemand wurde ernsthaft
    verletzt. Außerdem haben wir auch noch zwei Nachtwanderungen gemacht, auf denen man sich meiner Meinung nach sehr gut
    unterhalten konnte.
  </p>
  <p>
    <strong>Highland Games</strong>, Gameshow, Brückenbau, Wasserschlacht und Capture the Flag sind nur Beispiele für Spiele,
    die wir in den zwei Wochen gespielt haben. Kreativität, Sportlichkeit, Geschicklichkeit und Allgemeinwissen, für jeden war
    etwas dabei. Auch ein Waldspiel und Dorfspiele wurden gespielt, bei denen großer Zusammenhalt in den Teams bestand. Weitere
    Aktivitäten waren z.B. der Ausflug nach Frutigen oder der zum beliebten Thuner See.
  </p>
  <p>
    <strong>Wo</strong> wir gerade bei Zusammenhalt sind: Die Gemeinschaft auf der ganzen Freizeit war echt schön. Denn was
    bringt eine Freizeit mit gutem Programm, wenn die Leute nicht cool sind? Ein Teilnehmer meinte: „Unter den vielen anderen
    schönen Punkten auf der Freizeit ist mir einer dieses Jahr wieder aufs Neue besonders aufgefallen: Es war einfach eine
    geniale Gemeinschaft. Man war nie alleine und wenn man etwas machen wollte, war immer jemand dabei. Es gab auch keine
    Personen, die ausgeschlossen wurden. Alle waren in die Gruppe integriert, haben sich gut miteinander verstanden, gemeinsam
    gelernt und gemeinsam Spaß gehabt.“
  </p>
  <p>
    <strong>Ein</strong> wichtiger und zentraler Punkt auf einer christlichen Freizeit ist natürlich auch die Weiterbildung und
    das Lernen und Wachsen im Glauben. Deshalb gab es morgens, gleich nach dem Aufstehen, die Bibelfreude-Gruppen, in denen sich
    die Teilnehmer aus einem Zimmer mit 1-2 Mitarbeitern hinsetzten und gemeinsam in der Bibel lasen. Hier war auch der perfekte
    Zeitpunkt, um persönliche Fragen zu stellen und über diese zu diskutieren. Nach dem Frühstück gab es dann die Frohe Stunde,
    in der wir die Geschichte Nehemias kennenlernten und vor allem, wie wir uns Nehemia als Vorbild im Glauben und im Leben für
    Gott nehmen können. Abends hörten wir dann Andachten in Bezug auf Kolosser 3,5-13. Dort geht es darum, welche Eigenschaften
    wir als Christen ab- und welche anlegen sollten. Die Andachten waren sehr auf den Alltag bezogen und deshalb auch sehr
    lehrreich. So konnte hoffentlich jeder auch etwas Nützliches mit nach Hause nehmen. Außerdem waren wir am zweiten Sonntag in
    einem Gottesdienst in einer Gemeinde, hatten einen Stillen Nachmittag, den man gut mit Nachdenken, Bibellese und Beten
    verbringen konnte und auch einen Zeugnisabend und einen Lob- und Dankabend, wo wir hören konnten, wie gut Gott zu uns
    Menschen ist.
  </p>
  <p>
    <strong>In</strong> der ganzen Zeit wurden wir immer bestens mit Essen versorgt, egal ob morgens, mittags, abends oder
    zwischendurch. Es gab sogar einmal ein 3-Gänge-Menü und auch ein Käsefondue. Für die Geburtstagskinder gab es auch
    einen Kuchen, vor allem Mitarbeiter Simon, der seinen 11. Geburtstag hatte, freute sich sehr.
  </p>
  <p>
    <strong>Zusammenfassend</strong> jetzt zum Schluss noch ein Zitat von Janik, einem Teilnehmer: „Zusammengefasst kann man
    über die Freizeit sagen, dass es auch im Jahr 2017 eine sehr gelungene Freizeit war. Es war eine wunderschöne Gemeinschaft,
    keiner wurde ausgeschlossen, alle hatten Spaß miteinander und haben gemeinsam gelernt. Es gab tolle Aktivitäten wie
    wunderschöne Wanderungen, Spiele und Geländespiele, Baden am Thuner See und auch einen Gemeindebesuch. Die Andachten und
    Predigten haben viel Potential zum Nachdenken und um daraus zu lernen. Gerade unser Andachtsthema Kolosser 3 rief jeden dazu
    auf, sich Gedanken zu machen und an sich selbst als Christ zu arbeiten. Die Bibelfreude diente zum Vertiefen der Themen,
    beispielsweise zum Vertiefen unseres Hauptthemas Nehemia und auch zum Besprechen von Themen, die man selbst nur in einem
    kleinen Kreis besprechen wollte, oder auf die man einfach nur eine Antwort brauchte. Auch die Verpflegung auf der Freizeit
    war sehr gut, womit das Küchenteam ein großes Lob verdient hat. Wenn die Freizeit im nächsten Jahr auch nur halb so gut und
    lehrreich wird wie die Schweizfreizeit 2017, dann wird es sich ausnahmslos für jede Person lohnen, dabei zu sein.“
  </p>
  <p>
    <strong>Sebastian Weiser, 15, Teilnehmer</strong>
  </p>
</div>