<h1 class="banner">
  <span>Schweizfreizeit 2019 – Freizeitbericht</span>
</h1>
<script type="text/javascript">
	template.reset_title('Schweizfreizeit 2019 – Freizeitbericht');
</script>
<div class="center">
  <img src="images/kientalerhof_berge.png" class="img-fluid rounded" />
</div>
<div class="blocktext">
  <div class="right">
    <i class="far fa-clock"></i>&nbsp;1. März 2020
  </div>
  <p>Am 27. Juli, ein paar Stunden später als geplant, trafen die 14 Mitarbeiter und 31 Teilnehmer der Sommerfreizeit im
    wunderschönen Kiental ein. Nachdem wir ausgepackt und uns begrüßt haben, wurden wir sogleich von der Küche mit der ersten
    ihrer vorzüglichen Mahlzeiten verwöhnt. Ein kleines Abendprogramm sendete uns anschließend voller Erwartung der nächsten
    zwei Wochen ins Bett.</p>
  <p>Der Tradition treu, sammelte sich am nächsten Morgen die Horde Mitarbeiter viel zu früh, um mit energischem
    Morgengesang uns alle aus unseren Träumen zu reißen und uns lautstark zur „Freude“ aufzufordern. Wir „lieben Lämmchen“ und
    „fetten Hammel“, wie sie uns liebevoll bezeichneten, machten uns für die Bibelfreude fertig. In dieser Zeit wurden wir alle
    in Zimmergruppen eingeteilt, die von ein oder zwei Mitarbeitern geleitet wurden. Hier konnten wir die behandelten
    Bibelstellen genauer anschauen, über die angesprochenen Themen gemeinsam nachdenken und sonst auch einfach Fragen über die
    Bibel und das Christsein stellen. Darauf folgten ein Frühstück und die Morgenandacht mit dem Thema „Bergpredigt“.</p>
  <p>Neben vielen großartigen Gruppenspielen und wunderschönen Wanderungen gab es auch viel Freizeit. Diese stand zur
    Verfügung, um durch Gespräche, Reflektion, Arbeitsblätter oder eine Stille Zeit das Gelernte zu vertiefen. Man konnte sie
    aber auch nutzen, um von dem vielen Verarbeiten eine Pause zu nehmen und Spiele mit Freunden zu spielen, sein Instrument zu
    üben, Sport zu machen, das Dorf zu besichtigen, zu basteln, etc.</p>
  <p>Der Tag wurde dann mit einer Abendandacht abgeschlossen, in der täglich ein Berg der Bibel vorgetragen wurde. In den
    Alpen konnten wir uns die Geschichten besser vorstellen und wurden täglich mit einem Blick aus dem Fenster an sie erinnert.
    Die Berge halfen uns auch, unsere Merkverse, den Psalm 121, auswendig zu lernen und die Gewalt des Schöpfers ein wenig
    besser zu verstehen.</p>
  <p>Diese Routine wurde auch manchmal gebrochen. Zum Beispiel haben wir uns in der zweiten Woche am Montag früh auf den Weg
    zu einer Berghütte gemacht. Den ganzen Tag haben wir einen unglaublichen Ausblick genossen und abends, nach einer
    anstrengenden Wanderung, konnten wir den Sonnenuntergang und einen prächtigen Sternenhimmel genießen. Bei unseren
    freundlichen Gastgebern haben wir dann die Nacht verbracht.</p>
  <p>Es gab noch andere spannende Programmpunkte in den zwei Wochen. Dazu gehörten ein Freibad-Erlebnis, das von starkem
    Unwetter beendet wurde, ein schlabberiges Nachtspiel, eine Küchenschlacht und vieles mehr.</p>
  <p>Trotz der vielen Möglichkeiten seine Energie loszuwerden, lag der Fokus der Freizeit auf dem Geistlichen. Wir konnten
    uns ohne die Ablenkungen des Alltags auf Gott, unseren eigenen Zustand und unsere Beziehung zu Gott konzentrieren. Auch
    hierzu gab es viele Programmpunkte neben den Andachten und Bibelarbeiten: In einem Gebetsabend dachten wir an die verfolgten
    Christen in der Welt, den geistlichen Zustand in Deutschland, an unsere Familien und Freunde sowie auch an all das, was Gott
    uns gibt. In einem Zeugnisabend erzählten wir von Gottes Arbeit in unserem Leben und am Sonntag hörten wir einen
    Missionsbeitrag in der Gemeinde. Dies sind nur ein paar Beispiele von den vielen Möglichkeiten, die wir hatten als Christen
    zu wachsen. Um diese unglaubliche Zeit wirklich verstehen zu können, muss man es einfach mal erlebt haben. Abschließend noch
    ein paar Worte eines anderen Teilnehmers: „Die Freizeit dieses Jahr war wieder überaus reich gesegnet. Sowohl die
    wunderschöne Umgebung, als auch die vielfältigen Programmpunkte runden die gute Gemeinschaft unter den Mitarbeitern und
    Teilnehmern ab. Die einerseits ermutigenden, andererseits auch herausfordernden Themen und Andachten sorgen dafür, dass
    denke ich niemand unverändert von der Freizeit nach Hause gehen kann. Und am meisten freue ich mich, dass ein Teilnehmer zum
    Glauben an den Herrn Jesus gekommen ist.“</p>
</div>