<h1 class="banner">
  <span>Schweizfreizeit 2014 – Freizeitbericht</span>
</h1>
<script type="text/javascript">
	template.reset_title('Schweizfreizeit 2014 – Freizeitbericht');
</script>
<div class="center">
  <img src="images/schweizfreizeit2.jpg" class="img-fluid rounded" />
</div>
<div class="blocktext">
  <div class="right">
    <i class="far fa-clock"></i>&nbsp;11. September 2014
  </div>
  <p>
    Als <em>„spaßig“, „superklasse“, „aufbauend“, „amüsant“, „toll“ </em>und vor allem<em> „prägend“ </em>und<em>
      „gesegnet“</em> beschreiben die Teilnehmer, Mitarbeiter und das Küchenteam die diesjährige <strong>Onkel-Werner
      Freizeit im Kiental</strong>. Ja, auch noch Wochen nach dem Abschied. Wer einmal dabei war, weiß auch wieso!
  </p>
  <p>
    Es gibt Momente in unserem Leben, auf die wir uns schon Monate vorher freuen und denen wir voller Erwartung entgegenblicken.
    Der <strong>Beginn der Schweizfreizeit</strong> ist so einer. Die voll beladenen Reisekoffer wurden geschnappt und los ging
    es zu einem der Bahnhöfe, an denen bereits zugeteilte Mitarbeiter warteten. Ab dort konnten die Eltern ihre Teenies in die
    Obhut von unserem lieben Onkel Werner und seinem Team geben und sich noch ein letztes Mal verabschieden. Die Sammelfahrt
    lief problemlos ab und es wurden sogar schon erste Kontakte unter den Teenies geschlossen. Später wurden in diesen ganzen 2
    Wochen Freundschaften geknüpft, die nicht nur auf Facebook halten, sondern auch Echtheitswert besitzen! Als der Zug in die
    Schweiz einfuhr und wir die ersten majestätischen Berge erblickten, war die Freude komplett. <em>„Schweiz war für mich
      immer abenteuerlich, schon allein wegen der langen Anreise (Zugfahrt, oder voll beladene Autos)“</em>, bestätigt Mitarbeiter
    Lukas K., der als 9-Jähriger zum ersten Mal auf einer Onkel-Wernerfreizeit war und dieses Jahr tatkräftig in der Schweiz mit
    angepackt hat. Im Freizeitheim angekommen wurde erstmal das Thema Nr. 1 geklärt – Wer schläft in welchem Zimmer?!
  </p>
  <p>&nbsp;</p>
  <p>
    Danach bekamen wir auch schon <strong>Abendessen</strong>, das von freiwilligen Küchenfrauen liebevoll und sehr lecker für
    uns zubereitet wurde. Dass auch die Küchenleute viel Spaß hatten, glaubt man gerne, nach Aussagen von Esther D., ohne die
    das Essenverteilen nicht ganz so lustig wäre: <em>„Dieses Jahr hat es besonders Spaß gemacht, da der Zusammenhalt in
      der Küche sehr groß war und wir als Team gut zusammenarbeiten konnten.“ </em>Auch beim Frühstück und Mittagessen fehlte es
    weder an Abwechslung, noch an Appetit. Verwöhnt wie die Könige, bekamen wir noch täglich Nachtisch und wohl auch ein paar
    Kilos gratis auf die Hüften dazu. <img src="images/1f609.svg" width="16px">
  </p>
  <p>
    <img src="images/DSC-03-450x299.jpg" class="img-fluid rounded">
  </p>
  <p>&nbsp;</p>
  <p>
    Nach dem traditionellen <strong>Kennenlern-Abend</strong> am Anreisetag, hatte man auch schon ein paar der Namen, die man
    noch nicht kannte, gelernt. Sich ungefähr 60 Namen gleich am ersten Abend zu merken, da müsste man schon ein Superhirn sein.
    <img src="images/1f609.svg" width="16px"> 60 Leute und doch hatte niemand die Chance anonym zu bleiben, denn auf einer
    Freizeit, wo Gottes Liebe zentral ist, da ist jeder Einzelne wichtig und viel wert! Wir sind Gott wirklich viel wert, das
    durften wir sehen und hören. Vor allem davon, dass er seinen Sohn nicht verschont hat und ihn für unsere Schuld hat bezahlen
    lassen. Es gibt also keinen Grund ihm nicht das Ruder in unserem Leben zu überlassen und ihm zu vertrauen.
  </p>
  <p>&nbsp;</p>
  <p>
    Das <strong>Freizeit-Thema</strong> 2014 hätte also nicht treffender sein können: Vertrauen! Das meint auch Mitarbeiterin
    Anna B.: <em>“Das Thema „Vertrauen, auch wenn…“ durchzog die ganze Freizeit und war extrem aktuell, was ich vor allem
      in persönlichen Gesprächen mit den Teilnehmern, Bekehrungen, aber auch in meinem eigenen Leben gemerkt habe. Ich habe es
      als deutliche Führung erkennen können“</em>, berichtet sie weiter, <em>„dass dieses Jahr gerade dieses Thema dran war und
      das Staunen darüber, macht es kaum möglich, zusammenzufassen, wie gesegnet diese Freizeit war“. </em>
  </p>
  <p>&nbsp;</p>
  <p>
    Segen erlebten wir auch bei den <strong>Tages- und Nachtwanderungen</strong>. Denn das wäre nicht die Schweiz-Freizeit, wenn
    es nicht mindestens zwei Bergwanderungen gäbe, bei denen man über Gottes geniale Schöpfung aus dem „Ah“- und „Wow“-Sagen
    nicht mehr rauskommt.
  </p>
  <p>
    <img src="images/DSC-50-450x299.jpg" class="img-fluid rounded">
  </p>
  <p>Bei beiden Wanderungen fanden wir ein gemeinsames Tempo und machten uns auf den Weg, der definitiv „kein leichter sein“
    würde. „Steinig und schwer“ war er auch. Am ausgewählten Ziel angekommen, prägte sich jedoch den Teenies, die nicht schon
    vorher wieder zurück zum Freizeitheim gegangen waren, ein Blick ein, schöner als in Heidi und Peters Abenteuern! Ich
    persönlich werde den Ausblick ins Tal und den blauen Thunersee, wie er unter den Wolken hervorlugt, nie mehr vergessen. Wir
    fühlten uns beim Bergabstieg wie so manch ein Überlebenskünstler in der Taiga. Doch wie schon gesagt, wir fühlten uns nur
    so, hatten wir doch 2 erfahrene Bergwanderer dabei- Holger und Simon B. Wir durften diesmal ihnen vertrauen. Das Wetter und
    die Route fest im Blick, führten die zwei Männer uns sicher durch Gottes gewaltige Natur. Danke dafür!</p>
  <p>
    <img src="images/DSC-15-450x299.jpg" class="img-fluid rounded">
  </p>
  <p>So fehlte es weder an kompetenten Mitarbeitern, noch an interessantem Gesprächsstoff. Der reichte von Witzen bis hin zu
    ernsten Themen aus. Auch der 15-jährigen Teilnehmerin Lena R. gefielen die Wanderungen am besten und der Thunersee, wie sie
    später berichtete. Ich denke, wir können einstimmig sagen, dass das auch einer der Höhepunkte der Freizeit war, der klare
    blaue Gletschersee. Die Mutigen hüpften rein, die anderen spielten Volleyball, Fußball oder nutzten das 3-, 5- oder 10m
    Springbrett. Abends gab es verschiedene Spiele, bei denen jeder mitmachen konnte und auch für so manchen Sketch waren sich
    die Mitarbeiter nicht zu schade, sehr zur Freude der Teenies, wie der Teilnehmer Richard K. später erzählt.</p>
  <p>
    <img src="images/DSC-32-450x299.jpg" class="img-fluid rounded" />
  </p>
  <p>&nbsp;</p>
  <p>
    <img src="images/DSC-29-450x299.jpg" class="img-fluid rounded" />
  </p>
  <p>&nbsp;</p>
  <p>
    Als <em>„glaubenstechnisch voll ermutigend“</em> beschreibt die Teilnehmerin Sibylle H. die diesjährige Freizeit, vielleicht
    nicht zuletzt auch wegen den <strong>täglichen Andachten</strong>, die morgens und abends stattfanden. Dabei wurde morgens
    eine biblische Geschichte erzählt und abends dann ein persönliches Erlebnis mit Gott von einem der Mitarbeiter bezeugt. Hier
    durften wir ganz lebensnahe Berichte von Leuten hören, die schon mit Jesus unterwegs sind. Wir durften eines Abends Berichte
    von Christen hören, die aufgrund ihres Glaubens verfolgt werden, was uns alle bis zu den Tränen berührte. Wir beteten
    natürlich für sie und dankten Gott, für den Frieden in unserem Land. Das war ein einschneidendes Erlebnis, gemeinsam an die
    zu denken, die es gerade sehr schwer haben. Das Gitarrentrio Lars D., Micha H. und Felix W. gaben den Andachten mit Liedern,
    bei denen wir mitsangen, einen musikalischen Rahmen und könnten sich locker in die Spiezer Innenstadt stellen.
  </p>
  <p>&nbsp;</p>
  <p>
    Wir durften auch zueinander Vertrauen aufbauen, was den <strong>Abschied</strong> umso schwerer machte. Nicht nur einmal
    höre man die Abschiedsworte: <em>“Ich komme auf jeden Fall nächstes Jahr wieder! Du doch auch, oder?“</em> Du als Leser
    wunderst dich bestimmt, wieso ich denn nicht auch mal etwas Negatives berichte? Nun ja, vielleicht, dass die Freizeit ruhig
    noch eine Woche länger hätte gehen können! <img src="images/1f609.svg" width="16px" />
  </p>
  <p>&nbsp;</p>
  <p>Evelina, ehemalige Teilnehmerin und derzeitige Mitarbeiterin</p>
  <p>
    <img src="images/DSC-71-450x299.jpg" class="img-fluid rounded" />
  </p>
</div>