<h1 class="banner">
  <span>Schweiz-Freizeit 2018 in Kiental</span>
</h1>
<script type="text/javascript">
	template.reset_title('Schweiz-Freizeit 2018 in Kiental');
</script>
<div class="center">
  <img src="images/hut-1681485_1920.jpg" class="img-fluid rounded" />
</div>
<div class="blocktext">
  <div class="right">
    <i class="far fa-clock"></i>&nbsp;4. Januar 2019
  </div>
  <p>Samstagmorgen, der 28.07.2018, die 28 Teilnehmer und 9 Mitarbeiter fuhren vom gemeinsamen Treffpunkt aus los. Etwas
    später als geplant, aber mit großer Vorfreude kamen wir am Nachmittag gut am Ferienhaus Bergfrieden im Kiental in der
    Schweiz an. Bevor es richtig losgehen konnte, wurde erst einmal ausgeladen und die Zimmer wurden bezogen.</p>
  <p>Am Abend gab es Essen und dann Spiele, um sich gegenseitig kennenzulernen. Somit war der erste Tag auch schon zu Ende
    und alle gingen zufrieden ins Bett.</p>
  <p>Tag für Tag wurden wir Teilnehmer morgens mit fröhlichem Gesang der Mitarbeiter geweckt, dann hatte jeder Zeit sich
    fertig zu machen. Im Anschluss gab es die Bibelfreude-Gruppen, wo die Teilnehmer eines Zimmers mit jeweils 1-2 Mitarbeitern
    gemeinsam über Fragen nachdenken und herausfinden konnten, was Gott uns dazu in seinem Wort sagt. Auch für unser leibliches
    Wohl war gesorgt: Jeden Morgen bekamen wir ein leckeres und ausgiebiges Frühstück.</p>
  <p>Nach dem Essen war es Zeit für die Frohe Stunde, diese Freizeit ging es um herausfordernde Fragen, die Jesus seinen
    Jüngern und den Menschen, die ihm zugehört haben, gestellt hat. Wie wir selbst auf diese Fragen antworten würden, dazu
    konnte sich jeder nach der Andacht persönlich Gedanken machen, sowohl im Bezug auf die Errettung als auch die Nachfolge
    betreffend. Eine Gebetsgemeinschaft und das gemeinsame Singen von Liedern schlossen den Vormittag ab, worauf das Mittagessen
    folgte.</p>
  <p>In der Zeit zwischen den einzelnen Programmpunkten wurde gemeinsam gespielt, Langeweile gab es also nicht. Stets konnte
    man sich irgendwo anschließen und mitspielen, ob draußen oder drinnen, oder sich einfach unterhalten.</p>
  <p>Ebenfalls gespielt wurde beim Nachmittagsprogramm, egal ob im Haus, im Ort oder im Wald. Rasant verging die Zeit und es
    wurde schon wieder Abend, wo gegessen wurde, danach gab es noch kurze Andachten zu „Randpersonen“ in der Bibel. Unter diesen
    waren zum Beispiel Gajus, Phöbe, Elkana oder Diotrephes, also Personen, die nur in wenigen Versen erwähnt werden, von
    welchen wir aber trotzdem eine Menge lernen können.</p>
  <p>Nach den Andachten gab es auch einmal ein Nachtspiel und eine Nachtwanderung, nach denen dann wirklich alle müde, aber
    mit Freude auf den vergangenen Tag zurückblickend, ins Bett gehen konnten. Das Programm war jeden Tag verschieden, ein paar
    Eindrücke wollen wir aber noch geben.</p>
  <p>Jetzt kommen wir also zu den Highlights: An einem Abend gab es den Gebetsabend für verfolgte Christen, der für mich auf
    jedem Fall zu den Highlights gehörte. Nicht weil ich die Ruhe mochte, sondern vor allem wegen dem Fokus auf unsere
    Geschwister, dem schönen Gefühl, diese so gut wie möglich im Gebet zu unterstützen und dem Lernen von ihrem Zeugnissen, die
    von sehr viel Trauer und Leid, aber auch Stärke und Glauben erfüllt sind. Immer noch versuche ich mir immer wieder diese
    Thematik ins Gedächtnis zu rufen und wie an diesem Abend darüber zu beten.</p>
  <p>Kaum etwas ist inzwischen so sehr zur Tradition geworden wie die Wanderungen. Hoffentlich bleibt das auch weiterhin so!
    Erst war die wunderschöne Probewanderung zur Wätterlatte, dann die Große zur Blüemlisalp und zum Oeschinensee und
    gleichzeitig die kleine Wanderung. Richtig cool waren auch das Feuerwerk am Schweizer Nationalfeiertag, die Wasserschlacht,
    die Geländespiele, der Ausflug zum Thuner See, der Gemeindebesuch am Sonntag, die freien Abende, der Nachmittag der Stille,
    die Lob- und Dankstunde und der Lobpreis.</p>
  <p>Zusätzlich zu den Mitarbeitern generell sind auch die lieben Menschen aus der Küche zu loben, die uns über die ganzen
    zwei Wochen so wunderbar bekochten. Oft gab es zum Frühstück Rührei und Milchreis, Nachtisch zum Abend- und Mittagessen und
    andere kleine Leckereien und Extras zusätzlich zu dem tollen Essen.</p>
  <p>Glücklich können wir auf diese zwei gesegneten Wochen zurückschauen, wir hatten gemeinsam viel Freude und jeder konnte
    etwas Gelerntes mit nach Hause nehmen. Leider verging die Zeit sehr schnell, deshalb freuen wir uns schon auf die nächste
    Freizeit.</p>
  <p>
    Ganz zum Schluss noch ein Fazit einer anderen Teilnehmerin: <em>„Hoffentlich werden die nächsten Freizeiten ebenfalls
      so stärkend, ermutigend und wunderschön wie dieses Jahr. Aufbauende Andachten, anspruchsvolle Wanderungen, aber nicht nur
      die Umgebung, das Essen oder das Programm, nein, vor allem das Miteinander innerhalb der ganzen Gruppe, sowie persönliche
      Gespräche und unvergessliche Erlebnisse sind das Besondere! Alles in allem eine Zeit, für die man Gott allein nur danken
      kann!“</em>
  </p>
</div>