<h1 class="banner">
  <span>Vorbereitungstreffen zur Osterfreizeit 2014 in Olfen</span>
</h1>
<script type="text/javascript">
	template.reset_title('Vorbereitungstreffen Olfen 2014');
</script>
<div class="center">
  <img src="images/vorbereitungstreffen2.jpg" class="img-fluid rounded" />
</div>
<div class="blocktext">
  <div class="right">
    <i class="far fa-clock"></i>&nbsp;15. April 2014
  </div>
  <p>Am letzten Samstag, den 12.04.2014, hat sich ein Teil der Mitarbeiter in Heilbronn getroffen um die Osterfreizeit in
    Olfen vorzubereiten. Dabei hatten wir viel Spass und einige neue Ideen für die Freizeit.</p>
  <p>
    Welche Ideen das sind verraten wir aber noch nicht, die Teilnehmer dürfen also gespannt sein was sie in der Freizeit alles
    erwartet. Wir als Mitarbeiter freuen uns schon auf die<br> Freizeit und natürlich auf die/euch Teilnehmer!!!
  </p>
  <p>Euer Freizeitteam</p>
  <p>&nbsp;</p>
  <p>
    PS: Ausführlicher Bericht über die Freizeit folgt <img src="images/1f609.svg" width="16px">
  </p>
</div>
