<h1 class="banner">
  <span>Schweizfreizeit 2014 – Die Vorbereitungen laufen!</span>
</h1>
<script type="text/javascript">
	template.reset_title('Schweizfreizeit 2014 – Die Vorbereitungen laufen!');
</script>
<div class="center">
  <img src="images/vorbereitung-schweiz2.jpg" class="img-fluid rounded" />
</div>
<div class="blocktext">
  <div class="right">
    <i class="far fa-clock"></i>&nbsp;28. Juni 2014
  </div>
  <h1>Vorbereitungstreffen</h1>
  <p>
    Auch dieses mal fand für die Schweizfreizeit 2014 wieder ein Vorbereitungstreffen statt, diesmal im wunderschönen
    Heidelberg. Als Gastgeber nahm uns die Brüdergemeinde Heidelberg herzlich auf, bewirtet wurden wir von Simons Eltern, die es
    uns wirklich an nichts haben fehlen lassen. Vielen Dank dafür! <img src="images/1f642.svg" width="16px">
  </p>
  <p>Die Mitarbeiter kamen aus ganz Deutschland zusammen (von Hamburg bis Bayern). Wir sind ein buntgemischter Haufen,
    bestehend aus „alten Hasen“ und Mitarbeitern, die zum ersten mal eine Freizeit mitgestalten.</p>
  <p>Mit den Vorbereitungen sind wir sehr gut vorangekommen. Der Freizeitplan konnte komplett fertig gestellt werden und
    wurde durch sehr kreative Ideen der Mitarbeiter zu einem spektakulären und interessanten Programm zusammengestellt.</p>
  <p>Auch was die Strukturierung der Freizeit angeht haben wir einige neue Ideen zusammengetragen, wir sind gespannt wie
    diese ankommen werden.</p>
  <p>Am Abend durften wir zusammen mit einigen aus der Heidelberger Jugend beim WM-Spiel Deutschland gegen Ghana mitfiebern.</p>
  <p>&nbsp;</p>
  <h1>Weitere Vorbereitungen</h1>
  <p>Trotz des guten Vorankommens stehen immer noch viele Vorbereitungen an. Vom Finetuning der Spiele bis zur Vorbereitung
    der Bibelarbeiten ist noch jede Menge zu tun.</p>
  <p>Über eure Unterstützung im Gebet freuen wir uns sehr, denn darauf sind wir angewießen. Betet gerne für die
    Vorbereitungen der Freizeit, für ein gutes Verhältnis unter den Mitarbeitern, viel Weißheit während der Freizeit, Gute
    Gespräche, geistliches Wachstum, Bewahrung und für Neuanfänge mit Jesus.</p>
  <p>&nbsp;</p>
  <p>Im Herrn verbunden, das Mitarbeiterteam</p>
</div>
