<h1 class="banner">
  <span>Wrist 2014</span>
</h1>
<script type="text/javascript">
  template.reset_title('Wrist 2014');
</script>
<div class="center">
  <img src="images/wrist-freizeit2.jpg" class="img-fluid rounded" />
</div>
<div class="blocktext">
  <div class="right">
    <i class="far fa-clock"></i>&nbsp;16. November 2014
  </div>
  <p>
    <strong>„Geh, Abraham, geh …. mach dich auf den Weg!“</strong>
  </p>
  <p>&nbsp;</p>
  <p>So lautet dieses Jahr das Motto der Herbst-Freizeiten! 5 Mädchen und 7 Jungen machten sich auf den Weg nach Wrist und
    waren echt gespannt, ob man auch in einer kleinen Gruppe Spaß haben kann.</p>
  <p>Beim Abschluss-Interview war die eindeutige Antwort: JA! Wir kommen nächstes Jahr wieder und bringen noch unsere
    Freunde und Freundinnen mit.</p>
  <p>&nbsp;</p>
  <p>
    Ein Highlight ist immer wieder die lange Wasserrutschbahn, wenn wir zum Schwimmen gehen. Da kann man nur hoffen, dass die
    Badehose hält! <img src="images/1f642.svg" width="32" height="32" />
  </p>
  <p>&nbsp;</p>
  <p>Bei unserer Bibel-Schnitzeljagd versuchten wir allein nach Hinweisen aus Bibelstellen den Weg zu finden. Wenn wir z.B.
    in 1. Samuel 6 Vers 12 lesen: „Die Kühe gingen geradeaus auf dem Weg“ – dann wussten wir: Es geht weiter geradeaus. Obwohl
    wir nicht alles richtig machten, trafen sich doch plötzlich alle auf derselben kleinen Nebenstraße wieder. Das war eine
    nette Überraschung. Wieder einmal durften wir erfahren, dass es letztendlich der HERR JESUS ist, der uns führt und leitet.</p>
  <p>&nbsp;</p>
  <p>Auch während der Nachtwanderung durften wir GOTTES Nähe erfahren. Obwohl sich Nebelschwaden auf der Erde ausgebreitet
    hatten, gab es einen sternenklaren Himmel. Wir erinnerten uns daran, dass Abraham die Sterne zählen sollte und erkannten,
    dass das tatsächlich unmöglich ist. Es ist immer etwas Besonderes, wenn wir ganz praktisch erleben, dass GOTTES Wort die
    Wahrheit ist.</p>
  <p>&nbsp;</p>
  <p>Ein weiterer Programmpunkt war der Besuch auf einer Straußenfarm. Habt Ihr gewusst, dass ein Straußenei so groß ist,
    wie 20 Hühnereier zusammen? Man kann nur staunen, wie elegant diese komisch aussehenden Tiere laufen und auch rennen können!
    Für einen Euro konnte man sich eine schöne, lange Straußenfeder kaufen, die allerdings noch recht schmutzig war. Die Mädchen
    haben ihre Federn im Heim gewaschen, gekämmt und geföhnt. Man kann sich kaum vorstellen, wie weich sie dann werden!</p>
  <p>
    <img src="images/Vogel-Strau-337x450.jpg" width="337" height="450">
  </p>
  <p>Das Wichtigste an einer Freizeit aber ist das WORT GOTTES. Obwohl Abraham dem HERRN glaubte und auch vertraute, musste
    er lernen zu warten. Es stimmt: GOTT steht zu Seinem Wort! ER lässt kein Wort fallen! – Aber manchmal dauert es Jahre, bis
    ER Sein Versprechen erfüllt.</p>
  <p>Auch uns fällt das Warten oft sehr schwer – aber es lohnt sich. Wie Abraham werden wir eine Belohnung bekommen, wenn
    wir nicht aufgeben, sondern mit allen Zweifeln, Fragen und Sorgen zu IHM kommen. ER antwortet auf unser Gebet und kommt mit
    Seiner Hilfe nie zu spät.</p>
  <p>&nbsp;</p>
  <p>Ein Junge öffnete sein Herz für den HERRN JESUS und darf sich jetzt „Gottes Kind“ nennen!</p>
  <p>Wir werden ihn bestimmt bei einer anderen Freizeit wiedersehen und Manche andere auch –</p>
  <p>Wie schön, dass wir dem HERRN JESUS nachfolgen und uns gegenseitig Mut machen können, wenn wir mal traurig sind. Auf
    Freizeiten werden feste Freundschaften gegründet, die über Jahre bleiben – und das ist sehr schön!</p>
  <p>&nbsp;</p>
  <p>Ach ja – zweimal haben wir Geburtstag gefeiert!!! Wie schön, dass man sich das auch zum Geburtstag wünschen kann: „Auf
    einer Freizeit dabei zu sein“ – Da gibt es doppelt Geschenke –</p>
  <p>
    <img src="images/IMG_8580-450x300.jpg" width="450" height="300" />
  </p>
  <p>Wie wäre es, wenn auch Du Dir zum nächsten Geburtstag Geld für eine Freizeit wünschen würdest?</p>
  <p>&nbsp;</p>
</div>